////
/// @group ax-config
////

/// ### Mapping Domains
///
/// These simple maps represent the domains of property sequences.

/// Map of size labels.
/// Used as domain for mapped properties.
///
/// @example css - For generating properties like this
///   --s-shadow-xxs: …;
///   --s-shadow-xs: …;
///   --s-shadow-sm: …;
///   --s-shadow-md: …;
///   --s-shadow-lg: …;
///   --s-shadow-xl: …;
///   --s-shadow-xxl: …;
///
$sizes: (
  "xxs": -3,
  "xs": -2,
  "sm": -1,
  "md": 0,
  "lg": 1,
  "xl": 2,
  "xxl": 3,
);

/// Map of tendency indicators.
///
/// This is for specifying sizes that are smaller or bigger than, exactly
/// on a whole step or right between two steps (known from grading at school
/// or musical intervals).
///
/// Meant as a recurring domain the labels are appended as suffixes to
/// continuous integer numbers.
///
/// Stylament uses this for its length scale to produce a series of tokens
/// based on whole logical units (rlh), while including sub-units as well.
$tendency: (
  "dim": -0.29,
  "": 0,
  // ⪅ (¼ + ⅓)/2, i. e. approx. equal distance to ¼ and ⅓, slightly closer to ¼.
  "aug": 0.29,
  "½": 0.5,
);

/// Map of font weights.
/// Used as default domain for font weight properties.
///
/// @example css - Complete map of commonly used font weights.
///   --s-font-weight-thin: 100;
///   --s-font-weight-extralight: 200;
///   --s-font-weight-light: 300;
///   --s-font-weight-regular: 400;
///   --s-font-weight-book: 500;
///   --s-font-weight-medium: 600;
///   --s-font-weight-bold: 700;
///   --s-font-weight-black: 800;
///   --s-font-weight-ultra: 900;
///
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "book": 500,
  "medium": 600,
  "bold": 700,
  "black": 800,
  "ultra": 900,
);
