////
/// @group ax-config
////

/// ### Mapping Domains
///
/// These simple maps represent the domains of property sequences.

/// Map of size labels.
/// Used as domain for mapped properties.
///
/// @example css - For generating properties like this
///   --shadow-xxs: …;
///   --shadow-xs: …;
///   --shadow-sm: …;
///   --shadow-md: …;
///   --shadow-lg: …;
///   --shadow-xl: …;
///   --shadow-xxl: …;
///
$sizes: (
  "xxs": -3,
  "xs": -2,
  "sm": -1,
  "md": 0,
  "lg": 1,
  "xl": 2,
  "xxl": 3,
);

$tendency: (
  "dim": -0.29,
  "": 0,
  "aug": 0.29,
  "½": 0.5,
);

/// Map of font weights.
/// Used as default domain for font weight properties.
///
/// @example css - Complete map of commonly use font weights.
///   --font-weight-thin: 100;
///   --font-weight-extralight: 200;
///   --font-weight-light: 300;
///   --font-weight-regular: 400;
///   --font-weight-book: 500;
///   --font-weight-medium: 600;
///   --font-weight-bold: 700;
///   --font-weight-black: 800;
///   --font-weight-ultra: 900;
///
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "book": 500,
  "medium": 600,
  "bold": 700,
  "black": 800,
  "ultra": 900,
);
