////
/// @group ax-config
////

/// ### Mapping Functions
///
/// These functions calculate the final property values corresponding to
/// the given domain value.

@use "sass:math";

/// Mapping function to generate [Shadow Scale](./ax-properties.html#css--Shadow%20Scale).
///
/// **N.B.:** We do without the [spread radius][mdn1], so these shadows can be used as
/// [text shadows][mdn2], too.
///
/// [mdn1]: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#spread-radius
/// [mdn2]: https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow
///
/// @param {Number} $size The numerical size index.
/// @return {String} The mapped value, a CSS <shadow>.
@function shadow($size) {
  $offset: 0.25em * math.pow(2, $size);
  $blur: 0.5em * math.pow(2, $size);
  $alpha: math.div(4 + $size, 16);
  @return "0 #{$offset} #{$blur} rgb(0 0 0 / #{$alpha})";
}
