@use "axioms/config/color/brand";
@use "axioms/config/color/logical";
@use "axioms" with (
  $config-custom: (
    typography: (
      font-weight: (
        mapped: (
          range: (
            start: 4,
            end: 7,
            step: 3,
          ),
        ),
      ),
    ),
    color: (
      palettes: brand.$palettes,
      logical: logical.$mapping,
    ),
  )
);
@use "elements";
@use "idioms";
@use "objects";
// More specific objects
@use "objects/special/homepage";
@use "utilities";
@use "utilities/placeholder";
@use "utilities/debug";

@use "fonts";
