  <footer class="clr-alternate">
    <section>
      <p class="footer-copyright">© 2023 Simon Schrape</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/example/layout.html">Layout example</a></li>
        <li><a href="/example/body-copy.html">Body copy example</a></li>
        <li><a href="/example/color.html">Color table</a></li>
        <li><a href="/example/elements-showcase.html">All elements showcase</a></li>
        <li><a href="https://stylament.sim.ilitu.de/sassdoc/index.html">Documentation</a></li>
      </ul>
    </section>
  </footer>
