  <footer class="clr-alternate">
    <section>
      <p class="footer-copyright">© 2026 Simon Schrape</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/example/">Examples</a></li>
        <li><a href="/sassdoc/index.html">Documentation</a></li>
        <li><a href="https://github.com/smnscp/stylament.git">Source</a></li>
      </ul>
    </section>
  </footer>
