<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/img/logo.svg" rel="shortcut icon">
  <link rel="stylesheet" href="/css/index.scss">
  <link rel="stylesheet" href="/css/fonts.scss">
  <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/css/dark.scheme.{{#if isDev}}s{{/if}}css">
  <link rel="stylesheet" media="not (prefers-color-scheme: dark)" href="/css/light.scheme.{{#if isDev}}s{{/if}}css">
  {{#> @partial-block }}{{/@partial-block}}
</head>
