/**
 * ## Logical Tokens
 */

:root {
  --font-body: var(--font-serif);
  --font-titling: var(--font-sans);
  --weight-body: var(--weight-normal);
  --weight-emphasis: var(--weight-bold);
  --weight-titling: var(--weight-bold);
  --color-body: var(--color-black);
  --color-body-inverted: var(--color-grey-50);
  --color-primary: var(--color-purple);
  --color-primary-light: var(--color-purple-300);
  --color-primary-dark: var(--color-purple-700);
  --color-titling: var(--color-grey-700);
  --color-links: var(--color-primary-dark);
  --color-links-inverted: var(--color-primary-light);
  --color-hr: var(--color-primary);
  --spacing-block: var(--line-root-abs);
  --spacing-block-titling: var(--spacing-block);
  --spacing-inline: calc(1.5 * var(--line-root-abs));
  --stroke-table: var(--stroke-2);
  --stroke-hr: var(--stroke-2);
}
