////
/// @group ax-logical-tokens
////

@use "../a.settings/a.basic-tokens/b.layout/b.container-widths" as widths;

/// # Logical Design Tokens

/// Globally available tokens.
:root {
  --font-body: var(--font-serif);
  --font-heading: var(--font-sans);
  --weight-body: var(--weight-normal);
  --weight-emphasis: var(--weight-bold);
  --weight-heading: var(--weight-bold);
  --color-body: var(--color-black);
  --color-body-negative: var(--color-grey-50);
  --color-primary: var(--color-purple);
  --color-primary-light: var(--color-purple-300);
  --color-primary-dark: var(--color-purple-700);
  --color-heading: var(--color-grey-700);
  --color-links: var(--color-primary-dark);
  --color-links-negative: var(--color-primary-light);
  --color-hr: var(--color-primary);
  --spacing-block: var(--line-root-abs);
  --spacing-heading: var(--spacing-block);
  --spacing-sectioning: calc(2 * var(--spacing-block));
  --spacing-inline: 4ch;
  --stroke-width-default: var(--stroke-width-2);
  --stroke-style-default: solid;
}

/// Save space on smaller screens.
@media (max-width: widths.$width-sm) {
  :root {
    --spacing-sectioning: var(--spacing-block);
  }
}
