////
/// @group ax-logical-tokens
////

@use "sass:map";
@use "../a.settings/basic-tokens/layout/container-widths" as cw;

/// # Logical Design Tokens

/// Globally available tokens.
:root {
  --font-body: var(--font-serif);
  --font-heading: var(--font-sans);
  --font-display: var(--font-body);
  --weight-body: var(--weight-regular);
  --weight-emphasis: var(--weight-bold);
  --weight-heading: var(--weight-bold);
  --color-body: var(--color-black);
  --color-body-negative: var(--color-white);
  --color-neutral: var(--color-grey);
  --color-accent: var(--color-grey-700);
  --color-accent-negative: var(--color-grey-100);
  --color-mark: var(--color-grey-900);
  --color-mark-negative: var(--color-grey-300);
  --color-primary: var(--color-purple);
  --color-primary-light: var(--color-purple-300);
  --color-primary-dark: var(--color-purple-700);
  --color-heading: var(--color-accent);
  --color-links: var(--color-primary-dark);
  --color-links-negative: var(--color-primary-light);
  --color-hr: var(--color-primary);
  --spacing-block: var(--line-root-abs);
  --spacing-heading: var(--spacing-block);
  --spacing-sectioning: calc(2 * var(--spacing-block));
  --spacing-inline: 4ch;
  --inline-padding-default: 0.5ch;
  --stroke-width-default: var(--stroke-width-2);
  --stroke-style-default: solid;
  --stroke-color-default: var(--color-neutral);
}

/// Save space on smaller screens.
@media (max-width: map.get(cw.$widths, "sm")) {
  :root {
    --spacing-sectioning: var(--spacing-block);
  }
}
