////
/// @group ob-variant
////

/// ## Sticky Navigation Menu
///

/// Sticky navigation.
/// Makes navbar stick to the top of the viewport.
nav.var-sticky {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
}
