table.e-standard-table {
  --table-border-width: var(--stroke-width-table, var(--stroke-width-default));
  --table-border-style: var(--stroke-style-table, var(--stroke-style-default));
  --table-border-color: var(--stroke-color-table, var(--stroke-color-default));

  thead {
    background-color: var(--color-mark-negative);
  }

  tr:nth-child(2n) {
    background-color: var(--color-accent-negative);
  }

  /// Do not center `th` in vertical tables.
  thead + tbody {
    th:first-child {
      text-align: start;
    }
  }
}
