////
/// @group el-text
////

/// Line break.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-br-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/br MDN
br {
}
