////
/// @group ob-elementary
////

/// ## Main Navigation Bar
///
/// Rather opinonated styling for the first `nav.e-menu`.

@use "../../../axioms/tools/mixins/coloring";

/// The  first `nav.e-menu` is implicitly considered the main menu.
body > nav.e-menu:first-of-type {
  $size: var(--length-l2);
  --item-block-size: #{$size};
  --item-line-height: var(--length-l1dim);
  --item-padding: var(--length-l1dim);
  --toggle-size: #{$size};
  --toggle-padding: var(--length-l0to1);
  --toggle-background: var(--color-accent-negative);
  --toggle-shadow: var(--shadow-sm);
  --toggle-folded-shadow: var(--shadow-lg);

  & > menu {
    box-shadow: var(--shadow-sm);

    & > li {
      @include coloring.use-colors;
      @include coloring.accent-base;
      @include coloring.invert-base;
      transition: all 0.3s var(--ease-default);
      &:hover {
        @include coloring.revert-base;
      }

      & > a {
        color: inherit;
        background-color: transparent;
        font-weight: var(--weight-emphasis);
        text-decoration: none;
      }
    }
  }
}
