////
/// @group ax-tools
////

/// Polynomial function.
/// @param {List} $coefficients The coefficients of the polynomial.
/// @param {Number} $x The argument to the function.
/// @return {Number} The function value at $x.
@function polynomial($coefficients, $x) {
  $sum: 0;
  $pow: 1;
  @each $co in $coefficients {
    $sum: $sum + $co * $pow;
    $pow: $pow * $x;
  }
  @return $sum;
}
