////
/// @group el-interactive
////

/// Details disclosure.
///
/// The `details` element represents a disclosure widget from which the user can obtain additional information or controls.
///
/// @link https://html.spec.whatwg.org/multipage/interactive-elements.html#the-details-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details MDN
details {
}
