////
/// @group el-interactive
////

/// Dialog.
///
/// The `dialog` element represents a part of an application that a user interacts with to perform a task, for example a dialog box, inspector, or window.
///
/// @link https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dialog MDN
dialog {
}
