////
/// @group id-navigation
////

@use "sass:map";
@use "../../axioms/properties/io" as *;
@use "../../axioms/properties/specific/layout/container";
@use "../../axioms/tools/coloring";
@use "../../axioms/tools/layout/switcher";

/// ## Menu Bar
///
/// A horizontal navigation menu.

/// Breakpoint for switching to wide layout.
/// @requires {variable} sizes@container
$nav-wide: map.get(container.$sizes, "nav-wide");

/// Menu bar.
/// Places items on a horizontal level if enough space is available.
menu[role="menubar"] {
  // Horizontal nav as long as items have enough space.
  ---threshold: #{$nav-wide};
  @include switcher.layout;

  & > li {
    display: block;
    text-align: center;
  }
}
