////
/// @group id-navigation
////

@use "../../axioms/properties/io" as *;

/// @name Treeview
[role="tree"] {
  ---indent: #{svar(spacing-indent)};

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
