////
/// @group id-navigation
////

/// @name Treeview
[role="tree"] {
  ---indent: var(--spacing-inline-md);

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
