////
/// @group ax-config
////

@use "sass:map";
@use "sass:math";
@use "sass:meta";

@function measure($size) {
  // Use square numbers centered around 64ch.
  @return math.pow($size + 8, 2) * 1ch;
}

@function width($size) {
  // Use multiples of 16rem centered around 48rem.
  @return ($size + 3) * 16rem;
}

$custom: () !default;
$default: (
  common: (
    sizes: (
      // xxs: -3,
      xs: -2,
      sm: -1,
      md: 0,
      lg: 1,
      xl: 2,
      // xxl: 3,
    ),
  ),
  layout: (
    width-function: meta.get-function("width"),
  ),
  typography: (
    font-weights: (
      // thin: 100,
      // extralight: 200,
      // light: 300,
      regular: 400,
      // medium: 500,
      // semibold: 600,
      bold: 700,
      // extrabold: 800,
      // black: 900,,,,,,
    ),
    line: (
      min: 1.1,
      root: 1.5,
    ),
    measure-function: meta.get-function("measure"),
    scale: (
      min: -2,
      max: 5,
      base: 1rem,
      /// Major third, equal-tempered: ∛2 ≅ 1.26
      /// @link https://www.modularscale.com/?1&em&2@3
      factor: math.pow(2, math.div(1, 3)),
    ),
  ),
  ui: (
    color: (
      //
    ),
  ),
);

$merged: map.deep-merge($default, $custom);
