////
/// @group ax-config
////

/// # Global Configuration
///
/// The lowest layer of Stylament is a global configuration object. From this,
/// [a set of CSS custom properties](./ax-properties.html) will be generated.
/// In contrast to that flat list of variables, this configuration object is a
/// hierachical map. By using [mapping functions](#mapping) and [aliases](#config-examples)
/// it reflects the relationships between properties.
///
/// There is a [default configuration](#variable--default) tree that
/// will be merged with your [custom configuration](#variable--custom).

@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "mapping";
@use "specific/ui/easing";
@use "../tools/arithmetic/function";
@use "../tools/typography/rhythm";
@use "../properties/io" as *;

/// Configuration to be injected by consumers.
/// This map is defined by passing `$config-custom` to Stylament.
/// For the structure of this custom configuration see [$default](#variable--default).
///
/// @example scss - Using Stylament with custom configuration
///   @use "custom-config" as custom;
///   @use "stylament/css/axioms" with ($config-custom: custom.$config);
///
/// @type Map
$custom: () !default;

/// Whether to use or to ignore the default configuration. With this set to false only
/// the custom configuration is taken into account.
///
/// @type Boolean
$use-default: true !default;

$-line-root: map.get($custom, typography, line, root);
$-scale-base: map.get($custom, typography, scale, base);
$-scale-ratio: map.get($custom, typography, scale, ratio);

/// Default configuration.
/// This also serves as a reference for your [custom configuration](#variable--custom).
///
/// <a name="config-examples"></a>
///
/// @example scss - Defining literal properties
///   $cfg: (
///     layout: (
///       indent: (
///         literal: (
///           editor: 4ch,
///           extra: "var(--external-var)",
///         ),
///       ),
///     ),
///   );
///
/// @example css - Result
///   :root {
///     --s-indent-editor: 4ch;
///     --s-indent-extra: var(--external-var);
///   }
///
/// @example scss - Defining logical properties (aliases)
///   $cfg: (
///     typography: (
///       measure: (
///         logical: (
///           // Link within the same group:
///           default: md,
///           // Use a leading “/” to refer to any other property:
///           container: "/container-md",
///         ),
///       ),
///     ),
///   );
///
/// @example css - Result
///   :root {
///     --s-measure-default: var(--s-measure-md);
///     --s-measure-container: var(--s-container-md);
///   }
///
/// @example scss - Defining mapped properties (calculated series)
///   @function radius($i) { @return (2 + $i) * 0.5rem; }
///
///   $cfg: (
///     ui: (
///       radius: (
///         mapped: (
///           domain: (sm: -1, md: 0, lg: 1),
///           function: meta.get-function("radius"),
///         ),
///       ),
///     ),
///   );
///
/// @example css - Result
///   :root {
///     --s-radius-sm: 0.5rem;
///     --s-radius-md: 1rem;
///     --s-radius-lg: 1.5rem;
///   }
///
/// @type Map
$default: (
  layout: (
    length: (
      mapped: (
        domain: mapping.$domain-tendency,
        range: (
          // -1: 0aug, 0: 0½, 1: 1dim, 2: 1, …
          start: -1,
          end: 10,
        ),
        function: meta.get-function("quantize", $module: "mapping"),
        params: (
          unit: 1rlh,
          sub: 4,
        ),
      ),
    ),
    container: (
      mapped: (
        domain: mapping.$domain-sizes,
        // Use multiples of 16rem centered around 48rem.
        function: meta.get-function("linear", $module: "function"),
        params: (
          slope: 16rem,
          initial: 48rem,
        ),
      ),
      literal: (),
      logical: (
        nav-wide: "sm",
        page: "xl",
      ),
    ),
    spacing: (
      block: (
        mapped: (
          domain: mapping.$domain-sizes,
          function: meta.get-function("exponential", $module: "function"),
          params: (
            base: 2,
            coefficient: 1rlh,
          ),
        ),
        logical: (
          default: md,
        ),
      ),
      inline: (
        mapped: (
          domain: mapping.$domain-sizes,
          function: meta.get-function("exponential", $module: "function"),
          params: (
            base: 2,
            coefficient: 2ch,
          ),
        ),
        logical: (
          default: md,
        ),
      ),
      flow: (
        literal: (
          list: 0em,
          sectioning:
            clamp(
              svar(spacing-block-md),
              (100vi - svar(container-sm)) / 4,
              svar(spacing-block-lg)
            ),
        ),
        logical: (
          default: "/spacing-block-sm",
          heading: "/spacing-block-md",
          deflist: "/spacing-block-sm",
        ),
      ),
      wrap: (
        logical: (
          default: "/spacing-flow-default" "/spacing-inline-default",
          sectioning: "/spacing-flow-sectioning" "/spacing-inline-lg",
        ),
      ),
      indent: (
        logical: (
          default: "/spacing-inline-default",
        ),
      ),
    ),
  ),
  typography: (
    font: (
      family: (
        literal: (
          sans: (
            "Source Sans",
            sans-serif,
          ),
          serif: (
            "Source Serif",
            serif,
          ),
          mono: (
            "Source Code",
            monospace,
          ),
        ),
        logical: (
          body: "serif",
          heading: "sans",
          display: "body",
        ),
      ),
      size: (
        mapped: (
          range: (
            start: -2,
            end: 9,
          ),
          function: meta.get-function("exponential", $module: "function"),
          params: (
            base: $-scale-ratio,
            coefficient: $-scale-base,
          ),
        ),
        literal: (
          ratio: $-scale-ratio,
          smaller: if($-scale-ratio, math.div(100%, $-scale-ratio), null),
          larger: if($-scale-ratio, 100% * $-scale-ratio, null),
          // Fluid root font size:
          // 1rem + (100vw - 32rem) * (1.125rem - 1rem) / (96rem - 32rem)
          // = 0.9375rem + 0.1953125vw
          root: clamp(0.96875rem, 0.9375rem + 0.1953125vw, 1.25rem),
        ),
      ),
      weight: (
        mapped: (
          domain: mapping.$domain-font-weights,
        ),
        logical: (
          body: "regular",
          emphasis: "bold",
          heading: "bold",
        ),
      ),
    ),
    letter-spacing: (
      mapped: (
        domain: mapping.$domain-sizes,
        function: meta.get-function("linear", $module: "function"),
        params: (
          slope: 0.025em,
        ),
      ),
      logical: (
        none: md,
      ),
    ),
    line: (
      rlh: if($-line-root and $-scale-base, rhythm.rlh($-scale-base, $-line-root), null),
    ),
    measure: (
      mapped: (
        domain: mapping.$domain-sizes,
        // Use square numbers centered around 64ch.
        // math.pow($size + 8, 2) * 1ch;
        function: meta.get-function("polynomial", $module: "function"),
        params: (
          64ch,
          16ch,
          1ch,
        ),
      ),
      literal: (
        full: 100%,
        inf: unset,
      ),
      logical: (
        default: md,
      ),
    ),
  ),
  ui: (
    radius: (
      mapped: (
        domain: mapping.$domain-sizes,
        // Use multiples of 0.2rem centered around 0.6rem.
        function: meta.get-function("linear", $module: "function"),
        params: (
          initial: 0.6rem,
          slope: 0.2rem,
        ),
      ),
      literal: (
        ellipse: 100%,
        obround: 999rem,
      ),
    ),
    shadow: (
      mapped: (
        domain: mapping.$domain-sizes,
        function: meta.get-function("shadow", $module: "mapping"),
      ),
    ),
    stroke: (
      width: (
        mapped: (
          range: (
            start: 1,
            end: 8,
          ),
          function: meta.get-function("polynomial", $module: "function"),
          params: (
            0,
            math.div(1rem, 16),
          ),
        ),
        logical: (
          default: 2,
        ),
      ),
      style: (
        literal: (
          default: "solid",
        ),
      ),
      color: (
        logical: (
          default: "/color-tertiary-700",
        ),
      ),
    ),
    easing: (
      literal: easing.$penner,
    ),
  ),
  coloring: (
    palettes: (),
    color: (
      logical: (),
    ),
  ),
);

/// Map of all configuration values merged together.
/// This is used to look up configuration keys.
/// @type Map
/// @requires $use-default
/// @requires $default
/// @requires $custom
$merged: if($use-default, map.deep-merge($default, $custom), $custom);
