////
/// @group ax-config
////

@use "sass:map";
@use "sass:math";
@use "sass:meta";

@function measure($size) {
  // Use square numbers centered around 64ch.
  @return math.pow($size + 8, 2) * 1ch;
}

@function container($size) {
  // Use multiples of 16rem centered around 48rem.
  @return ($size + 3) * 16rem;
}

/// Configuration to be injected by consumers.
/// @type Map
$custom: () !default;

/// Default configuration.
/// @type Map
$default: (
  common: (
    sizes: (
      // xxs: -3,
      xs: -2,
      sm: -1,
      md: 0,
      lg: 1,
      xl: 2,
      // xxl: 3,
    ),
  ),
  layout: (
    length: (
      min: 2,
      max: 12,
      line: 4,
    ),
    container: (
      function: meta.get-function("container"),
      literal: (),
      logical: (
        page: "xl",
      ),
    ),
    spacing: (
      literal: (
        block: "var(--length-l1)",
        heading: "var(--length-l1)",
        sectioning:
          "clamp(var(--length-l1), (100vi - var(--container-sm)) / 4, var(--length-l2))",
        inline: 4ch,
        inline-small: 0.5ch,
      ),
      logical: (),
    ),
  ),
  typography: (
    font-family: (
      literal: (
        sans: (
          "Source Sans Pro",
          sans-serif,
        ),
        serif: (
          "Source Serif Pro",
          serif,
        ),
        mono: (
          "Source Code Pro",
          monospace,
        ),
      ),
      logical: (
        body: "serif",
        heading: "sans",
        display: "body",
      ),
    ),
    font-weight: (
      literal: (
        regular: 400,
        bold: 700,
      ),
      logical: (
        body: "regular",
        emphasis: "bold",
        heading: "bold",
      ),
    ),
    line: (
      min: 1.1,
      root: 1.5,
    ),
    measure: (
      function: meta.get-function("measure"),
    ),
    scale: (
      min: -2,
      max: 5,
      base: 1rem,
      // Major third, equal-tempered: ∛2 ≅ 1.26
      // https://www.modularscale.com/?1&em&2@3
      factor: math.pow(2, math.div(1, 3)),
    ),
  ),
  ui: (
    stroke: (
      min: 1,
      max: 8,
      line: 24,
      widths: (
        default: "var(--stroke-width-2)",
      ),
      styles: (
        default: "solid",
      ),
      colors: (
        default: "var(--color-tertiary-700)",
      ),
    ),
  ),
  color: (
    palettes: (),
    literal: (),
    logical: (
      body: "black",
      body-negative: "white",
      neutral: "grey",
      accent: "grey-700",
      accent-negative: "grey-100",
      mark: "grey-900",
      mark-negative: "grey-200",
      heading: "primary-700",
      // heading-negative: "secondary-300",
      links: "secondary-700",
      links-negative: "secondary-300",
      // links-accent-negative: "tertiary-300",
      hr: "primary",
    ),
  ),
);

/// Map of all configuration values merged together.
/// @type Map
/// @requires $default
/// @requires $custom
$merged: map.deep-merge($default, $custom);
