////
/// @group el-text
////

/// # Text-level Semantics
///
/// These are elements for inline-level text semantics.
///
/// - [Generic](#generic)
/// - [Line breaks](#line-breaks)
/// - [Emphasis](#emphasis)
/// - [Terminology](#terminology)
/// - [Quotations](#quotations)
/// - [Citation](#citation)
/// - [Altered baseline](#altered-baseline)
/// - [I/O](#input-output)
/// - [Code](#code)
/// - [Data](#data)
/// - [Enhanced semantics](#enhanced-semantics)
/// - [Directionality](#directionality)
/// - [Ruby](#ruby)
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements#inline_text_semantics MDN

@use "generic";
@use "line-breaks";
@use "emphasis";
@use "terminology";
@use "quotations";
@use "citation";
@use "altered-baseline";
@use "io";
@use "code";
@use "data";
@use "enhanced-semantics";
@use "directionality";
@use "ruby";
