////
/// @group el-text
////

/// ### Inline Code

@use "../../axioms/properties/io" as *;

code {
  color: svar(color-mark);
  background-color: svar(color-mark-contra);
  padding-inline: svar(spacing-inline-xs);
}
