////
/// @group el-text
////

/// ### Inline Code

@use "../../axioms/properties/settings" as *;

code {
  color: var(#{$🌱}color-mark);
  background-color: var(#{$🌱}color-mark-contra);
  padding-inline: var(#{$🌱}spacing-inline-xs);
}
