////
/// @group el-text
////

/// ### Input/Output

// keyboard input
kbd {
  color: var(--s-color-mark);
  background: var(--s-color-mark-contra);
  border: var(--s-stroke-width-1) solid var(--s-stroke-color-default);
  border-radius: var(--s-radius-xs);
  padding-inline: var(--s-spacing-inline-xs);
}

// sample output
samp {}
