////
/// @group el-text
////

/// ### Input/Output

@use "../../axioms/properties/io" as *;

// keyboard input
kbd {
  color: svar(color-mark);
  background: svar(color-mark-contra);
  border: svar(stroke-width-1) solid svar(stroke-color-default);
  border-radius: svar(radius-xs);
  padding-inline: svar(spacing-inline-xs);
}

// sample output
samp {}
