////
/// @group el-text
////

/// ### Input/Output

// keyboard input
kbd {
  color: var(--color-mark);
  background: var(--color-mark-negative);
  border: var(--stroke-width-1) solid var(--stroke-color-default);
  border-radius: var(--radius-xs);
  padding-inline: var(--spacing-inline-small);
}

// sample output
samp {}
