////
/// @group el-text
////

/// Ruby fallback parenthesis.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-rp-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/rp MDN
rp {
}
