////
/// @group el-text
////

/// Ruby text.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-rt-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/rt MDN
rt {
}
