////
/// @group el-text
////

/// Ruby annotation.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-ruby-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/ruby MDN
ruby {
  line-height: 2rlh;
}
