////
/// @group ax-properties
////

@use "sass:map";
@use "../../config" as cfg;
@use "../../tools/functions/map2";
@use "../../tools/mixins/prop-map";

/// Container sizes. Defined in [Container Size Scale](#css--Container%20Size%20Scale).
/// @type Map
/// @link https://bholmes.dev/blog/alternative-to-css-variable-media-queries/ Why SASS variables?
$sizes: ();

/// Defines [$sizes](#variable--sizes).
/// @name Container Size Scale
/// @requires $merged
:root {
  $conf: map.get(cfg.$merged, layout, container);
  $sizes: map2.map-config($conf) !global;
  @include prop-map.configured-properties($conf, "container");
}
