////
/// @group ax-properties
////

@use "sass:map";
@use "sass:meta";
@use "../../config" as cfg;

/// Container sizes. Defined in [Container Size Scale](#css--Container%20Size%20Scale).
/// @type Map
/// @link https://bholmes.dev/blog/alternative-to-css-variable-media-queries/ Why SASS variables?
$sizes: ();

/// Defines [$sizes](#variable--sizes).
/// @name Container Size Scale
/// @requires $merged
/// @link https://www.pollen.style/modules/layout#container-widths Pollen inheritance
:root {
  $names: map.get(cfg.$merged, common, sizes);
  $func: map.get(cfg.$merged, layout, container, function);
  $individuals: map.get(cfg.$merged, layout, container, individuals);
  $logicals: map.get(cfg.$merged, layout, container, logicals);

  @each $name, $value in $names {
    $sizes: map.set($sizes, $name, meta.call($func, $value)) !global;
    --container-#{$name}: #{map.get($sizes, $name)};
  }

  @each $name, $value in $individuals {
    $sizes: map.set($sizes, $name, $value) !global;
    --container-#{$name}: #{$value};
  }

  @each $name, $alias in $logicals {
    $sizes: map.set($sizes, $name, map.get($sizes, $alias)) !global;
    --container-#{$name}: var(--container-#{$alias});
  }
}
