////
/// @group ax-properties
////

@use "sass:map";
@use "../../config" as cfg;
@use "mixins";

/// @name Length Scale
/// @requires $merged
/// @requires $derived
:root {
  $min: map.get(cfg.$merged, layout, length, min);
  $max: map.get(cfg.$merged, layout, length, max);
  $line: map.get(cfg.$merged, layout, length, line);
  $rlh: map.get(cfg.$derived, typography, rlh);

  @include mixins.length-scale($min, $max, $rlh, $line);
}
