////
/// @group el-text
////

/// Citation.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-cite-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/cite MDN
cite {
}
