////
/// @group el-text
////

/// ### List

ol {}

ul {}

menu {
  --item-height: 2em;
  --item-line-height: 1em;
  --item-padding: 1em;

  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    block-size: var(--item-height);
    line-height: var(--item-line-height);
    padding: 0;
    margin: 0;

    & > a {
      display: grid;
      align-content: center;
      block-size: 100%;
      padding-inline: var(--item-padding);
    }
  }
}

li {}
