////
/// @group el-text
////

/// Sample output.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-samp-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/samp MDN
samp {
}
