/**
 * #### Modular Scale
 * Major third, equal-tempered: ∛2 ≅ 1.26
 * https://www.pollen.style/modules/typography#modular-scale
 * https://www.modularscale.com/?1&em&2@3
 *
 * #### Line Height
 * https://www.pollen.style/modules/typography#line-height
 * https://drewish.com/tools/vertical-rhythm/
 */
:root {
  $scale-base: 1rem;
  $scale-factor: math.pow(2, math.div(1, 3));
  $line-min: 1.1;
  $line-root: 1.5;
  $line-root-abs: $line-root * $scale-base;

  --scale-factor: #{$scale-factor};
  --line-root: #{$line-root};
  --line-root-abs: #{$line-root-abs};

  @for $i from -2 through 5 {
    $scale: math.pow($scale-factor, $i);
    --scale-#{$i}: #{$scale-base * $scale};
    $root-lines: calc($scale * $line-min / $line-root);
    --line-#{$i}: #{math.ceil($root-lines) * $line-root-abs};
  }

  --scale-smaller: #{math.div(100%, $scale-factor)};
  --scale-larger: #{100% * $scale-factor};
}
