/**
 * #### Font Families
 * https://www.pollen.style/modules/typography#font-families
 */
:root {
  --font-sans: "Source Sans Pro", sans-serif;
  --font-serif: "Source Serif Pro", serif;
  --font-mono: "Source Code Pro", monospace;
}
