/**
 * #### Font Weights
 * https://www.pollen.style/modules/typography#font-weights
 */
:root {
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;
}
