/**
 * #### Letter Spacing
 * https://www.pollen.style/modules/typography#letter-spacing
 */
:root {
  --letter-xs: -0.05em;
  --letter-sm: -0.025em;
  --letter-none: 0em;
  --letter-lg: 0.025em;
  --letter-xl: 0.05em;
}
