////
/// @group el-text
////

/// ### Input/Output

// keyboard input
kbd {
  color: var(--color-grey-700);
  background: var(--color-grey-300);
  border: 0.0625rem solid var(--color-grey-500);
  border-radius: var(--radius-xs);
  padding-inline: 0.2em;
}

// sample output
samp {}
