////
/// @group el-text
////

/// Machine readable data.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-data-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/data MDN
data {
}
