////
/// @group el-text
////

/// Temporal data.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-time-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/time MDN
time {
}
