////
/// @group el-grouping
////

/// Unordered list.
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-ul-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/ul MDN
ul {}
