////
/// @group el-text
////

/// Abbreviations.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-abbr-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/abbr MDN
abbr {
}
