////
/// @group el-text
////

/// Definition.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-dfn-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dfn MDN
dfn {
}
