////
/// @group el-text
////

/// Variable.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-var-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/var MDN
var {
}
