.lorem-ipsum {
  &:empty:nth-child(7n + 1):after {
    content: "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod "
      "tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis";
  }

  &:empty:nth-child(7n + 2):after {
    content: "Ante fames mattis ornare dignissim vulputate leo congue imperdiet "
      "porta fermentum nibh justo sit. Duis sit augue cras ullamcorper neque per pharetra.";
  }

  &:empty:nth-child(7n + 3):after {
    content: "Ut habitasse vestibulum finibus sagittis ultricies lobortis. Diam "
      "dictumst et nam sem molestie risus convallis aenean. Sapien nec ex fringilla cursus";
  }

  &:empty:nth-child(7n + 4):after {
    content: "Egestas turpis auctor aptent nisi volutpat sagittis per tortor "
      "lectus risus fames senectus felis. Accumsan a varius urna mollis et ligula.";
  }

  &:empty:nth-child(7n + 5):after {
    content: "Morbi risus donec eros integer accumsan laoreet dictumst urna "
      "himenaeos hendrerit fringilla hendrerit. Mollis suspendisse pulvinar at hendrerit";
  }

  &:empty:nth-child(7n + 6):after {
    content: "Porttitor urna ad lacinia nullam imperdiet elementum eros "
      "massa lobortis. Hendrerit eu turpis ut nam ornare imperdiet senectus volutpat interdum a.";
  }

  &:empty:nth-child(7n):after {
    content: "Curae suspendisse laoreet est eu ullamcorper. Quam suspendisse "
      "inceptos euismod mattis consequat vulputate himenaeos. Quam libero fringilla nec";
  }

  p:empty:nth-of-type(7n + 1):after {
    content: "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod "
      "tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis "
      "nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. "
      "Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla "
      "pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia "
      "deserunt mollit anim id est laborum.";
  }

  p:empty:nth-of-type(7n + 2):after {
    content: "Ante fames mattis ornare dignissim vulputate leo congue imperdiet "
      "porta fermentum nibh justo sit. Duis sit augue cras ullamcorper neque per pharetra."
      " Faucibus bibendum vulputate ultricies sollicitudin lorem torquent condimentum eu tristique.";
  }

  p:empty:nth-of-type(7n + 3):after {
    content: "Ut habitasse vestibulum finibus sagittis ultricies lobortis. Diam "
      "dictumst et nam sem molestie risus convallis aenean. Sapien nec ex fringilla "
      "cursus ligula platea habitasse sollicitudin est dictumst curabitur ad molestie "
      "dapibus amet. Rhoncus lacus lorem risus tempus fermentum in molestie pulvinar "
      "mollis felis elit nisl.";
  }

  p:empty:nth-of-type(7n + 4):after {
    content: "Egestas turpis auctor aptent nisi volutpat sagittis per tortor "
      "lectus risus fames senectus felis. Accumsan a varius urna mollis et ligula.";
  }

  p:empty:nth-of-type(7n + 5):after {
    content: "Morbi risus donec eros integer accumsan laoreet dictumst urna "
      "himenaeos hendrerit fringilla hendrerit. Mollis suspendisse pulvinar at "
      "hendrerit torquent sodales aliquam viverra venenatis suspendisse tempor "
      "elementum sapien. Egestas porttitor pharetra tellus morbi convallis ultricies "
      "donec pulvinar risus volutpat nostra taciti. Sapien cras quis vulputate imperdiet "
      "accumsan quam curabitur nec pellentesque vulputate mauris.";
  }

  p:empty:nth-of-type(7n + 6):after {
    content: "Porttitor urna ad lacinia nullam imperdiet elementum eros "
      "massa lobortis. Hendrerit eu turpis ut nam ornare imperdiet senectus "
      "volutpat interdum a. Nec scelerisque nostra ante litora quis ante neque "
      "lacinia magna lobortis sollicitudin. Pulvinar hac vitae maximus neque quisque "
      "condimentum vitae donec ipsum venenatis.";
  }

  p:empty:nth-of-type(7n):after {
    content: "Curae suspendisse laoreet est eu ullamcorper. Quam suspendisse "
      "inceptos euismod mattis consequat vulputate himenaeos. Quam libero fringilla "
      "nec tristique nam magna ut. Aptent proin turpis inceptos elementum magna "
      "vulputate. Faucibus lectus porttitor sapien enim nullam sodales.";
  }
}
