////
/// @group ob-variant
////

@use "../../../../axioms/properties/io" as *;
@use "../../../../idioms/navigation/menubar";
@use "./_mixins.scss";

/// Foldable navigation menu: Initial setup.
nav.var-foldable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  // Hide toggle controls.
  & > :is(#{mixins.$anyToggle}) {
    display: none;
  }

  & > menu {
    flex-grow: 1;
  }

  // Do not act as popover on wide screen. Stay visible in regular document flow.
  & > #{mixins.$popOff} {
    display: flex;
    position: static;
  }
}

/// Default behavior: Folding is only applied on narrow screen.
/// @name Modal menu on narrow screen
nav.var-foldable {
  @media (width < menubar.$nav-wide) {
    @include mixins.menu-foldable;
    @include mixins.backdrop;
  }
}

/// Places toggle to the inline end (rhs in Latin).
/// This only has an effect if the menu is foldable.
/// @name Modifier: +end
nav.var-foldable.#{$mod-prefix}end {
  flex-direction: row-reverse;

  & > #{mixins.$popOn} {
    margin-inline: auto var(---toggle-size);
  }
}
