////
/// @group ob-variant
////

@use "sass:map";
@use "../../../axioms/properties/settings" as *;
@use "../../../axioms/properties/specific/layout/container";
@use "../../../axioms/generic/coloring";

/// @requires {variable} sizes@container
figure.var-feature {
  @include coloring.set-colors("feature", "alternate");
  @include coloring.use-colors;
  margin-inline: 0;
  padding: var(#{$🌱}spacing-block-lg);

  blockquote {
    ---no-stroke: true;
    ---indent: 0ch;
    ---marker-outdent: 1ch;
    font-size: var(#{$🌱}scale-4);
    line-height: var(#{$🌱}line-3);
    font-family: var(#{$🌱}font-family-display, var(#{$🌱}font-family-body));
  }

  > * {
    max-inline-size: 85.7%;
    margin-inline-start: auto;

    @media (min-width: map.get(container.$sizes, "sm")) {
      // Occupy bigger golden ratio part.
      max-inline-size: 61.8%;
    }
    @media (min-width: map.get(container.$sizes, "lg")) {
      // Occupy smaller golden ratio part.
      max-inline-size: 38.2%;
    }
  }
}
