////
/// @group ob-special
////

/// ## Homepage Header, alternative

@use "../../layout/primitive/center";
@use "../../layout/primitive/center-box";

/// Special homepage header styles.
body.s-homepage > header.\+alt {
  --radius-box: var(--radius-xl);
  --stroke-width-box: var(--stroke-width-8);
  --stroke-style-box: dashed;
  --stroke-color-box: var(--color-grey-200);
  --spacing-block: var(--length-l2);

  & > * {
    @extend .l-center-box;
    @extend %l-center--intrinsic;
  }
}
