////
/// @group el-document
////

/// # Unique Document Elements
///
/// These elements are unique to each document. Some of the selectors are not pure element selectors.
/// But due to their uniqueness it makes sense to address them without any added class specificity.

/// Document root.
/// Equivalent to `html`.
///
/// @link https://html.spec.whatwg.org/multipage/semantics.html#the-root-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#main_root MDN
:root {
  font-size: var(--scale-root, 100%);
}

/// Content root.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-body-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root MDN
body {
  color: var(--color-body);
  background-color: var(--color-body-negative);
  // Push down the footer.
  min-block-size: 100vh;
}

/// The document’s main content. [There can be only one.][highlander]
///
/// [highlander]: https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element:attr-hidden
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main MDN
main:not([hidden]) {
  padding-block: var(--spacing-sectioning);
}

/// The document’s main header.
:where(body, body > div) > header:first-of-type {
  padding-block: var(--spacing-sectioning);
}

/// The document’s main footer.
:where(body, body > div) > footer:last-of-type {
  // Clever sticky footer (https://css-tricks.com/a-clever-sticky-footer-technique/)
  position: sticky;
  inset-block-start: 100vh;

  // Spacing and color.
  padding-block: var(--spacing-sectioning);
  color: var(--color-body-negative);
  background: var(--color-grey-700);

  a:any-link {
    color: var(--color-links-negative);
  }
}

/// The current target element.
:target {
  // Give URL fragment target enough air.
  scroll-margin-block-start: var(--size-12);
}
