// .clr-inverted,
// .clr-inverted .clr-inverted .clr-inverted,
// .clr-inverted .clr-inverted .clr-inverted .clr-inverted
.clr-inverted {
  color: var(---clr-fg);
  background-color: var(---clr-bg);

  &,
  & * {
    ---clr-fg: var(---clr-neg);
    ---clr-bg: var(---clr-pos);
  }

  .clr-inverted {
    &,
    & * {
      ---clr-fg: var(---clr-pos);
      ---clr-bg: var(---clr-neg);
    }
  }
}
