@use "./accented--inverted";

.clr-inverted {
  color: var(--color-body-negative);
  background-color: var(--color-body);

  :is(h1, h2, h3, h4, h5, h6, hgroup > p) {
    color: var(--color-heading-negative, inherit);
  }

  :where(a:any-link) {
    color: var(--color-links-negative, inherit);
  }

  .clr-accented,
  &.clr-accented {
    @extend %clr-accented--inverted;
  }
}
