@use "sass:map";
@use "../../../a.settings/basic-tokens/layout/container-widths" as cw;

figure.e-feature {
  color: var(--color-accent);
  background-color: var(--color-accent-negative);
  padding: var(--spacing-sectioning);

  blockquote {
    font-size: var(--scale-4);
    line-height: var(--line-3);
    font-family: var(--font-display, var(--font-body));
  }

  > * {
    max-inline-size: 85.7%;
    margin-inline-start: auto;

    @media (min-width: map.get(cw.$widths, "sm")) {
      // Occupy bigger golden ratio part.
      max-inline-size: 61.8%;
    }
    @media (min-width: map.get(cw.$widths, "lg")) {
      // Occupy smaller golden ratio part.
      max-inline-size: 38.2%;
    }
  }
}
