////
/// @group ax-properties
////

/// ### Blur (Backdrop Filters)
/// @link https://www.pollen.style/modules/ui#blur Pollen
///
:root {
  --blur-xs: blur(0.333rem);
  --blur-sm: blur(0.577rem);
  --blur-md: blur(1rem);
  --blur-lg: blur(1.732rem);
  --blur-xl: blur(3rem);
}
