////
/// @group ax-properties
////

/// @name Color Palette
/// @link https://www.pollen.style/modules/colors Pollen inheritance
/// @todo Configure and calculate this.
:root {
  --color-grey-0: hsl(215, 20%, 98%);
  --color-grey-100: hsl(215, 13%, 95%);
  --color-grey-200: hsl(215, 12%, 92%);
  --color-grey-300: hsl(215, 12%, 85%);
  --color-grey-400: hsl(215, 9%, 68%);
  --color-grey-500: hsl(215, 7%, 50%);
  --color-grey-600: hsl(215, 13%, 38%);
  --color-grey-700: hsl(215, 14%, 29%);
  --color-grey-800: hsl(215, 18%, 21%);
  --color-grey-900: hsl(215, 27%, 9%);
  --color-grey-1000: hsl(215, 44%, 5%);
  --color-white: var(--color-grey-0);
  --color-grey: var(--color-grey-500);
  --color-black: var(--color-grey-1000);
  --color-red-300: hsl(0, 95%, 75%);
  --color-red-500: hsl(0, 76%, 57%);
  --color-red-700: hsl(0, 61%, 48%);
  --color-red: var(--color-red-500);
  --color-green-300: hsl(145, 60%, 75%);
  --color-green-500: hsl(145, 46%, 51%);
  --color-green-700: hsl(145, 48%, 35%);
  --color-green: var(--color-green-500);
  --color-blue-300: hsl(207, 79%, 66%);
  --color-blue-500: hsl(207, 73%, 57%);
  --color-blue-700: hsl(207, 62%, 50%);
  --color-blue: var(--color-blue-500);
  --color-pink-300: hsl(332, 90%, 85%);
  --color-pink-500: hsl(332, 79%, 66%);
  --color-pink-700: hsl(332, 64%, 54%);
  --color-pink: var(--color-pink-500);
  --color-purple-300: hsl(259, 81%, 77%);
  --color-purple-500: hsl(259, 59%, 59%);
  --color-purple-700: hsl(259, 50%, 52%);
  --color-purple: var(--color-purple-500);
  --color-teal-300: hsl(176, 67%, 70%);
  --color-teal-500: hsl(176, 52%, 46%);
  --color-teal-700: hsl(176, 47%, 33%);
  --color-teal: var(--color-teal-500);
  --color-yellow-300: hsl(46, 92%, 76%);
  --color-yellow-500: hsl(46, 81%, 61%);
  --color-yellow-700: hsl(46, 67%, 51%);
  --color-yellow: var(--color-yellow-500);
  --color-orange-300: hsl(28, 93%, 77%);
  --color-orange-500: hsl(28, 84%, 57%);
  --color-orange-700: hsl(28, 75%, 50%);
  --color-orange: var(--color-orange-500);
  --color-brown-300: hsl(15, 15%, 56%);
  --color-brown-500: hsl(15, 25%, 38%);
  --color-brown-700: hsl(15, 26%, 29%);
  --color-brown: var(--color-brown-500);
}
