////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../typography/line";

/// A scale of stroke widths with $line units per root line.
/// @name Stroke Width Scale
/// @requires $merged
/// @requires $rlh
:root {
  $stroke: map.get(cfg.$merged, ui, stroke);
  $min: map.get($stroke, min);
  $max: map.get($stroke, max);
  $line: map.get($stroke, line);
  $widths: map.get($stroke, widths);
  $styles: map.get($stroke, styles);
  $colors: map.get($stroke, colors);

  @for $i from $min through $max {
    --stroke-width-#{$i}: #{line.$rlh * math.div($i, $line)};
  }

  @each $name, $value in $widths {
    --stroke-width-#{$name}: #{$value};
  }

  @each $name, $value in $styles {
    --stroke-style-#{$name}: #{$value};
  }

  @each $name, $value in $colors {
    --stroke-color-#{$name}: #{$value};
  }
}
