////
/// @group el-grouping
////

/// # Grouping Content
///
/// These are elements for block-level text content.
///
/// - [Generic](#generic)
/// - [Paragraphs](#paragraphs)
/// - [Thematic breaks](#thematic-breaks)
/// - [Lists](#lists)
/// - [Definition lists](#definition-lists)
/// - [Quotations](#quotations)
/// - [Figures](#figures)
/// - [Preformatted](#preformatted)
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements#text_content MDN

@use "generic";
@use "paragraphs";
@use "thematic-breaks";
@use "lists";
@use "definition-lists";
@use "quotations";
@use "figures";
@use "preformatted";
