////
/// @group el-grouping
////

/// ### List

ol {}

ul {}

menu {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    block-size: var(--item-block-size, 2em);
    line-height: var(--item-line-height, 1em);
    padding: 0;
    margin: 0;

    & > a {
      display: grid;
      align-content: center;
      block-size: 100%;
      padding-inline: var(--item-padding, 1em);
    }
  }
}

li {}
