////
/// @group el-grouping
////

/// ### List

@use "../../axioms/properties/io" as *;

ol {}

ul {}

menu {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    block-size: var(---item-block-size, 2em);
    line-height: var(---item-line-height, 1em);
    padding: 0;
    margin: 0;

    & > a {
      // Let the link area cover the whole height.
      display: inline-grid;
      align-content: center;
      block-size: 100%;
      padding-inline: var(---item-padding, 1em);
    }
  }
}

li::marker {
  color: svar(color-list-marker);
}
