////
/// @group el-grouping
////

/// ### Extended quotation

blockquote {
  position: relative;
  margin-inline: 0;
  padding-inline: 0;

  &::before {
    content: '“';
    position: absolute;
    inset-inline-start: -.5em;
    font-size: 2em;
  }
}
