////
/// @group el-edits
////

/// # Demarcating Edits
///
/// The `ins` and `del` elements represent edits to the document.
/// @link https://html.spec.whatwg.org/multipage/edits.html Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#demarcating_edits MDN

/// Deletion.
del {
  background: var(--color-red-300);
}

/// Insertion.
ins {
  background: var(--color-green-300);
}
