/**
 * ## Unique Document Elements
 */

/** Document root */

:root {
  font-size: var(--scale-root, 100%);
}

/** Sectioning root */

body {
  color: var(--color-body);
  // Push down the footer.
  min-height: 100vh;
}

/**
 * The document’s main content
 * There can be only one (https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element:attr-hidden)
 */

main:not([hidden]) {}

/** The document’s main header */

:where(body, body > div) > header:first-of-type {}

/** The document’s main footer */

:where(body, body > div) > footer:last-of-type {
  // Clever sticky footer (https://css-tricks.com/a-clever-sticky-footer-technique/)
  position: sticky;
  top: 100vh;
}

/** The current target element */

:target {
  // Give URL fragment target enough air.
  scroll-margin-top: var(--size-12);
}
