/**
 * ## Tabular Content
 */

table {
  --table-border-width: 0;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
}

caption {}

thead {}

tbody {}

tfoot {}

tr {}

td,
th {
  padding: calc(0.5 * (var(--line-root-abs) - var(--table-border-width)));
}

col {}

colgroup {}
