////
/// @group ax-tools
////

/// ## Layout Primitive Mixins
///
/// These are layout primitives greatly inspired by [Every Layout](https://every-layout.dev/).
///
/// The mixins are used in [layout utilities](ut-layout.html#layout-primitives)
/// but can as well be included through any selector to apply layouts without
/// the need to add utility classes to the markup.
