////
/// @group ax-tools
////

/// Center layout.
/// @name center.layout
/// @link https://every-layout.dev/layouts/center/ Every Layout: The Center
/// @see .lyo-center
@mixin layout {
  display: block;
  box-sizing: content-box;
  max-inline-size: var(---container-size);
  padding-inline: var(---container-gutter);
  margin-inline: auto;
}

/// Center layout with the content itself centered.
/// @name center.modifier-intrinsic
/// @link https://every-layout.dev/layouts/center/#intrinsic-centering Every Layout: Intrinsic centering
/// @see .lyo-center.+intrinsic
@mixin modifier-intrinsic {
  > * {
    text-align: center;
    margin-inline: auto;
  }
}
