////
/// @group ax-tools
////

@use "wrap";

/// Wrap in a grid adaptive to the suggested column width:
/// Get equal columns over all rows.
///
/// Custom properties:
/// * `---min-column-size` {number} [70% of current measure]: The minimum size of columns.
/// * `---fill-method` {auto-fill|auto-fit}: Use [`auto-fill`][mdn:auto-fill] to get empty
///   filler columns if there are too few grid items for one row. Use [`auto-fit`][mdn:auto-fit]
///   to prevent that behaviour and give all space to the filled columns.
///
/// [mdn:auto-fill]: https://developer.mozilla.org/en-US/docs/Web/CSS/repeat#auto-fill
/// [mdn:auto-fit]: https://developer.mozilla.org/en-US/docs/Web/CSS/repeat#auto-fit
///
/// @name grid.layout
/// @link https://every-layout.dev/layouts/grid/#grid-for-grids Every Layout: The Grid
/// @see .lyo-grid
@mixin layout {
  @include wrap.wrap-base;
  ---fill-method: auto-fill;
  display: grid;
  grid-template-columns: repeat(
    var(---fill-method),
    minmax(min(100%, var(---min-column-size)), 1fr)
  );
}

/// Grid layout with fitting under-full grids.
/// @name grid.modifier-fit
/// @see .lyo-grid.+fit
@mixin modifier-fit {
  ---fill-method: auto-fit;
}

/// Wrap in flexible rows (“flex-grid”):
///
/// Similar to the grid, but with the width of columns determined
/// individually based on the number of columns in each row. **Example:** Given five items and a
/// container that can take three of them in a row, the second row will be made up of the two
/// remaining items taking up one half of the space each, instead of leaving the last third
/// empty.
///
/// Custom properties:
/// * `---min-column-size` {number} [70% of current measure]: The minimum size of columns.
///
/// @name grid.layout-flex
/// @link https://every-layout.dev/layouts/grid/#flexbox-for-grids Every Layout: The Grid (flex-grid)
/// @see .lyo-flex-grid
@mixin layout-flex {
  @include wrap.wrap-base;
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-basis: var(---min-column-size);
    flex-grow: 1;
  }
}
