////
/// @group ax-tools
////

@use "../../properties/io" as *;

/// Stack layout.
/// @name stack.layout
/// @link https://every-layout.dev/layouts/stack/ Every Layout: The Stack
/// @see .lyo-stack
@mixin layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  > * + * {
    margin-block-start: var(---stack-space, svar(spacing-block));
  }
}
