////
/// @group ax-tools
////

/// Common traits for all wrap-related layouts.
///
/// [1] General sizing (based on [measure](ax-generic.html#css--General%20Measure)) and
/// [spacing](ax-generic.html#wrap-spacing) for wrap layouts.
///
/// [2] Do not apply [flow space](ax-generic.html#flow-spacing) in flex or grid layout.
/// Note: Once [container style queries][spec:style-container] have sufficient browser
/// support this can be done as a generic flow rule.
///
/// [spec:style-container]: https://www.w3.org/TR/css-contain-3/#style-container
%wrap-base {
  // [1]
  ---min-column-size: calc(0.7 * var(---measure));
  gap: var(---wrap-space, var(---flow-space));

  // [2]
  > * {
    margin-block: 0;
  }
}

/// Reset wrapping: Let this item claim the space of the whole row.
/// @name wrap.layout-reset
/// @see .lyo-reset-wrap
@mixin layout-reset {
  grid-column: 1 / -1 !important;
  max-inline-size: unset !important;
  flex: 100% !important;
}
