////
/// @group el-sectioning
////

/// Article contents.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-article-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/article MDN
article {
}
