////
/// @group el-sectioning
////

/// Aside.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-aside-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/aside MDN
aside {
}
