////
/// @group el-sectioning
////

/// Generic section.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-section-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/section MDN
section {
}
