////
/// @group el-text
////

/// Emphasis.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-em-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/em MDN
em {
}
