////
/// @group id-sectioning
////

@use "../../axioms/properties/io" as *;

/// @name New (2022) hgroup semantics
hgroup {
  p {
    font-family: svar(font-family-heading);
    font-weight: svar(font-weight-heading);
    color: var(---clr-fg);
  }
  h1 ~ p {
    font-size: svar(font-size-2);
    line-height: svar(line-2);
  }
  h2 ~ p {
    font-size: svar(font-size-1);
    line-height: svar(line-1);
  }
}
