////
/// @group id-sectioning
////

@use "../../axioms/properties/settings" as *;

/// @name New (2022) hgroup semantics
hgroup {
  p {
    font-family: var(#{$🌱}font-family-heading);
    font-weight: var(#{$🌱}font-weight-heading);
    color: var(---clr-fg);
  }
  h1 ~ p {
    font-size: var(#{$🌱}scale-2);
    line-height: var(#{$🌱}line-2);
  }
  h2 ~ p {
    font-size: var(#{$🌱}scale-1);
    line-height: var(#{$🌱}line-1);
  }
}
