////
/// @group el-embedding
////

/// ## Multimedia Content
///
/// - [picture](#css--picture)
/// - [img](#css--img)
/// - [video](#css--video)
/// - [audio](#css--audio)
///
/// @see Default Embedding Boxes
/// @link https://html.spec.whatwg.org/multipage/embedded-content.html Spec (embedded content)
/// @link https://html.spec.whatwg.org/multipage/images.html Spec (images)
/// @link https://html.spec.whatwg.org/multipage/media.html Spec (media)
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements#embedded_content MDN

@use "picture";
@use "img";
@use "video";
@use "audio";
