////
/// @group el-embedding
////

/// Image.
///
/// @link https://html.spec.whatwg.org/multipage/embedded-content.html#the-img-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/img MDN
img {
}
