////
/// @group el-embedding
////

/// Embed video.
///
/// @link https://html.spec.whatwg.org/multipage/media.html#the-video-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/video MDN
video {
}
