////
/// @group ob-scope
////

/// ## Homepage Header, alternative

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/box";

/// Special homepage header styles.
body.scp-homepage > header.#{$mod-prefix}alt {
  ---box-radius: #{svar(radius-xl)};
  ---box-border: #{svar(stroke-width-8) dashed svar(color-grey-300)};
  ---box-space: #{svar(spacing-lg)};

  & > * {
    @include box.layout;
  }
}
