////
/// @group ob-scope
////

/// ## Homepage Header

@use "../../../utilities/layout/primitive/center.scss";
@use "../../../utilities/layout/primitive/cover";

/// Special homepage header styles.
body.scp-homepage > header {
  @extend .lyo-cover;

  h1 {
    font-size: clamp(var(--scale-3), 8vmin, var(--scale-9));
    line-height: 1;
  }

  & > * {
    @extend %lyo-center--intrinsic;
  }

  // Any image alone in an hgroup row is considered a logo.
  hgroup > * > :is(img, picture, svg):only-child {
    // Size it so that it nicely fits the viewport.
    max-inline-size: min(66vmin, 100%);
    max-block-size: 66vmin;
    margin-inline: auto;
  }
}
