////
/// @group ob-scope
////

/// ## Homepage Header

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/center";
@use "../../../axioms/tools/layout/cover";

/// Special homepage header styles.
body.scp-homepage > header {
  ---cover-space: #{svar(spacing-block-lg) var(---container-gutter)};
  @include cover.layout;

  h1 {
    font-size: clamp(svar(font-size-3), 8vmin, svar(font-size-9));
    line-height: 1;
  }

  & > * {
    @include center.layout;
    @include center.modifier-intrinsic;
  }

  // Any image alone in an hgroup row is considered a logo.
  // NB: `:only-child` does not guarantee the absence of sibling text nodes.
  hgroup > * > :is(img, picture, svg):only-child {
    // Size it so that it nicely fits the viewport.
    max-inline-size: min(66vmin, 100%);
    max-block-size: 66vmin;
    margin-inline: auto;
  }
}
