////
/// @group ob-scope
////

/// ## Homepage Header, alternative

@use "../../../utilities/layout/primitive/center";
@use "../../../utilities/layout/primitive/center-box";

/// Special homepage header styles.
body.scp-homepage > header.\+alt {
  --radius-box: var(--radius-xl);
  --stroke-width-box: var(--stroke-width-8);
  --stroke-style-box: dashed;
  --stroke-color-box: var(--color-grey-300);
  --spacing-block: var(--length-2);

  & > * {
    @extend .lyo-center-box;
    @extend %lyo-center--intrinsic;
  }
}
