////
/// @group ob-scope
////

/// ## Homepage Header, alternative

@use "../../../axioms/properties/settings" as *;
@use "../../../utilities/layout/primitive/box";

/// Special homepage header styles.
body.scp-homepage > header.\+alt {
  ---box-radius: var(#{$🌱}radius-xl);
  ---box-border: var(#{$🌱}stroke-width-8) dashed var(#{$🌱}color-grey-300);
  ---box-space: var(#{$🌱}spacing-block-lg);

  & > * {
    @extend .lyo-box;
  }
}
