////
/// @group ob-scope
////

/// ## Homepage Header

@use "../../layout/primitive/center";
@use "../../layout/primitive/cover";

/// Special homepage header styles.
body.s-homepage > header {
  @extend .l-cover;

  h1 {
    font-size: clamp(var(--scale-3), 8vmin, var(--scale-9));
  }

  & > * {
    @extend %l-center--intrinsic;
  }

  // Any image alone in an hgroup row is considered a logo.
  hgroup > * > img:only-child {
    // Size it so that it nicely fits the viewport.
    max-inline-size: 66vmin;
    max-block-size: 66vmin;

    // Don’t measure-limit width of logo container.
    :has(&) {
      max-inline-size: none;
    }
  }
}
