/**
 * #### Radius
 * https://www.pollen.style/modules/ui#radius
 */
:root {
  --radius-100: 100%;
  --radius-xs: 0.2rem;
  --radius-sm: 0.4rem;
  --radius-md: 0.6rem;
  --radius-lg: 0.8rem;
  --radius-xl: 1rem;
  --radius-full: 999rem;
}
