/**
 * #### Layers
 * https://www.pollen.style/modules/ui#layers
 */
:root {
  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;
  --layer-below: -1;
  --layer-top: 2147483647;
}
