////
/// @group ax-basic-tokens
////

/// ### Easing (Transition Curves)
/// @link https://www.pollen.style/modules/ui#easing Pollen
///
:root {
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
}
