////
/// @group el-text
////

/// Bidirectional isolate.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-bdi-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/bdi MDN
bdi {
}
