////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../properties/settings" as *;
@use "../../../tools/arithmetic/function";
@use "../../../tools/meta";
@use "../../../tools/typography/rhythm";

/// Line heights supporting the vertical rhythm at every step of the scale.
/// @name Line Heights
/// @requires $merged
/// @link https://drewish.com/tools/vertical-rhythm/ Vertical rhythm calculation tool
:root {
  $scale: map.get(cfg.$merged, typography, scale);
  $line: map.get(cfg.$merged, typography, line);
  $rlh: map.get($line, rlh);
  $prefix: line;

  #{$🌱}#{$prefix}-root: #{map.get($line, root)};
  #{$🌱}#{$prefix}-root-abs: #{$rlh};

  @for $i
    from map.get($scale, mapped, range, start)
    through map.get($scale, mapped, range, end)
  {
    $font-size: meta.call-conditional(
      map.get($scale, mapped, function),
      $i,
      map.get($scale, mapped, params)
    );
    #{$🌱}#{$prefix}-#{$i}: #{rhythm.grid-line(
        $font-size,
        $rlh,
        map.get($line, min),
        map.get($line, sub)
      )};
  }
}
