////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../properties/io" as *;
@use "../../../tools/arithmetic/function";
@use "../../../tools/meta";
@use "../../../tools/typography/rhythm";

/// Line heights supporting the vertical rhythm at every step of the scale.
/// @name Line Heights
/// @requires $merged
/// @link https://drewish.com/tools/vertical-rhythm/ Vertical rhythm calculation tool
:root {
  $scale: map.get(cfg.$merged, typography, font, size, mapped);
  $line: map.get(cfg.$merged, typography, line);

  @if $scale and $line and map.get($line, rlh) {
    $rlh: map.get($line, rlh);

    #{$🌱}line-root: #{map.get($line, root)};
    /// @deprecated Use native `rlh` instead.
    #{$🌱}line-root-abs: #{$rlh};

    @for $i
      from map.get($scale, range, start)
      through map.get($scale, range, end)
    {
      $font-size: meta.call-conditional(
        map.get($scale, function),
        $i,
        map.get($scale, params)
      );
      #{$🌱}line-#{$i}: #{rhythm.grid-line(
          $font-size,
          $rlh,
          map.get($line, min),
          map.get($line, sub)
        )};
    }
  }
}
