////
/// @group el-sectioning
////

/// ## Heading Content

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

hgroup {
  p {
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    color: var(--color-heading);
  }
  h1 ~ p {
    font-size: var(--scale-2);
    line-height: var(--line-2);
  }
  h2 ~ p {
    font-size: var(--scale-1);
    line-height: var(--line-1);
  }
}
