/**
 * ### Block-level Text Content
 */

/* Generic block */
// div { Don’t style the generic block! }

/* Paragraph */
p {}

/* Thematic break */
hr {
  color: var(--color-hr);
}

/* List */
ol {}
ul {}
menu {}
li {}

/* Definition list */
dl {}
dt {}
dd {}

/* Extended quotation */
blockquote {
  margin-inline: 0;
  padding: 0;
  border: none;
  border-inline-start: solid var(--size-1);
  padding-inline-start: var(--size-5);
}

/* Self-contained figure */
figure {}
figcaption {}

/* Preformatted text */
pre {}
