////
/// @group ob-special
////

/// ## Homepage Header

/// Special homepage header styles.
body.homepage > header {
  padding: var(--size-8) var(--container-gutter);
  color: var(--color-grey-900);
  background: var(--color-grey-50);

  & > * {
    box-sizing: border-box;
    padding: var(--spacing-block);
    background: white;
    border-radius: var(--radius-md);
    box-shadow: var(--elevation-6);

    * {
      text-align: center;
      margin-inline: auto;
    }
  }

  // Any image alone in an hgroup row is considered a logo.
  hgroup > * > img:only-child {
    // Size it so that it nicely fits the viewport.
    max-inline-size: 66vmin;
    max-block-size: 66vmin;
  }
}
