////
/// @group ob-special
////

/// ## Homepage Header

@use "../../a.layout/primitive/center";
@use "../../a.layout/primitive/center-box";

/// Special homepage header styles.
body.homepage > header {
  color: var(--color-grey-700);
  background: var(--color-grey-50);
  --radius-box: var(--radius-md);
  --stroke-width-box: var(--stroke-width-8);

  & > * {
    @extend .l-center-box;
    @extend %l-center--intrinsic;
  }

  // Any image alone in an hgroup row is considered a logo.
  hgroup > * > img:only-child {
    // Size it so that it nicely fits the viewport.
    max-inline-size: 66vmin;
    max-block-size: 66vmin;
  }
}
