////
/// @group el-tables
////

/// Table caption.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-caption-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/caption MDN
caption {
  margin-inline: auto;
}
