////
/// @group el-tables
////

/// Table column group.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-colgroup-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/colgroup MDN
colgroup {
}
