////
/// @group el-tables
////

/// Table body.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-tbody-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/tbody MDN
tbody {
}
