////
/// @group el-tables
////

/// Table cell.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-td-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/td MDN
td {
}
