////
/// @group el-tables
////

/// Table foot.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-tfoot-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/tfoot MDN
tfoot {
}
