////
/// @group el-tables
////

/// Table head.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-thead-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/thead MDN
thead {
}
