////
/// @group el-tables
////

/// Table row.
///
/// @link https://html.spec.whatwg.org/multipage/tables.html#the-tr-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/tr MDN
tr {
}
