////
/// @group ax-config
////

$prim: 215deg;
$dist: 140deg;
$sl-curve: .1 .9 .8 .9 .8 .1 .1 .1;

/// Colors.
/// @name palettes@brand
$palettes: (
  "grey": (
    hue: $prim,
    sl-curve: .1 .9 .2 .9 .2 .1 .1 .1,
    range: (
      step: 0.1,
      start: 0,
      end: 1,
    ),
  ),
  "primary": (
    hue: $prim,
    sl-curve: $sl-curve,
  ),
  "secondary": (
    hue: $prim + $dist,
    sl-curve: $sl-curve,
  ),
  "tertiary": (
    hue: $prim - $dist,
    sl-curve: $sl-curve,
  ),
);
