////
/// @group ax-config
////

/// Colors.
/// @name mapping@logical
$mapping: (
  body: "black",
  body-contra: "white",
  neutral: "grey",
  alternate: "grey-700",
  alternate-contra: "grey-100",
  mark: "grey-900",
  mark-contra: "grey-200",
  heading: "primary-700",
  heading-contra: "primary-300",
  heading-alternate: "tertiary-700",
  heading-alternate-contra: "tertiary-300",
  links: "secondary-700",
  links-contra: "secondary-300",
  links-alternate: "secondary-500",
  links-alternate-contra: "secondary-300",
  nav: "heading",
  nav-contra: "heading-contra",
  hr: "primary",
);
