/**
 * #### Homepage Header
 */

body.homepage > header {
  padding: var(--size-8) 0;
  color: var(--color-grey-900);
  background: var(--color-grey-50);
  text-align: center;
}

body.homepage > header > * {
  background: white;
  border-radius: var(--radius-md);
  box-shadow: var(--elevation-6);
}

body.homepage > header .logo img {
  width: 66vmin;
  margin: 0 auto;
}
