////
/// @group ax-tools
////

@mixin use-colors {
  color: var(---clr-fg);
  background-color: var(---clr-bg);
}

@mixin set-colors($name) {
  ---clr-pos: var(--color-#{$name}, inherit);
  ---clr-neg: var(--color-#{$name}-negative, inherit);
}

@mixin accent-base {
  @include set-colors("accent");
}

@mixin invert-base {
  ---clr-fg: var(---clr-neg);
  ---clr-bg: var(---clr-pos);
}

@mixin revert-base {
  ---clr-fg: var(---clr-pos);
  ---clr-bg: var(---clr-neg);
}

@mixin accent {
  @include accent-base;
  @include use-colors;

  :is(h1, h2, h3, h4, h5, h6, hgroup > p) {
    @include set-colors("heading-accent");
  }

  :where(a:any-link) {
    @include set-colors("links-accent");
  }
}

@mixin invert {
  @include use-colors;

  &,
  & *,
  & & &,
  & & & * {
    @include invert-base;
  }

  & &,
  & & * {
    @include revert-base;
  }
}
