////
/// @group el-edits
////

@use "sass:map";
@use "../../axioms/config" as cfg;
@use "../../axioms/tools/coloring";

/// Deletion.
///
/// @link https://html.spec.whatwg.org/multipage/edits.html#the-del-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/del MDN
del {
  @if map.get(cfg.$merged, coloring, color, logical, del) {
    @include coloring.set-colors("del");
    @include coloring.use-colors;
  }
}
