////
/// @group ax-properties
////

/// ### Container Sizes
/// @link https://www.pollen.style/modules/layout#container-widths Pollen
/// @link https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
///

@use "sass:map";
@use "sass:meta";
@use "../../../config" as cfg;

$names: map.get(cfg.$merged, common, sizes);
$func: map.get(cfg.$merged, layout, container-function);
$sizes: ();

:root {
  @each $name, $value in $names {
    $sizes: map.set($sizes, $name, meta.call($func, $value)) !global;
    --container-#{$name}: #{map.get($sizes, $name)};
  }
}
