////
/// @group ax-properties
////

@use "sass:map";
@use "../../../config" as cfg;
@use "../../../tools/rhythm";
@use "../../../tools/scale";

/// @name Length Scale
:root {
  $min: map.get(cfg.$merged, layout, length, min);
  $max: map.get(cfg.$merged, layout, length, max);
  $line: map.get(cfg.$merged, layout, length, line);

  @include scale.length($min, $max, rhythm.$rlh, $line);
}
