////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/box";

/// Box layout.
/// @link https://every-layout.dev/layouts/box/ Every Layout: The Box
.lyo-box {
  @include box.layout;
}
