////
/// @group ut-layout
////

@use "../../../axioms/properties/settings" as *;

/// Box layout.
.lyo-box {
  display: block;
  padding: var(---box-space, var(#{$🌱}spacing-block));
  border: var(
    ---box-border,
    var(---box-border-width, var(#{$🌱}stroke-width-default))
      var(---box-border-style, var(#{$🌱}stroke-style-default))
      var(---box-border-color, var(#{$🌱}stroke-color-default))
  );
  border-radius: var(---box-radius, var(#{$🌱}radius-default));
}
