////
/// @group ut-layout
////

/// Box layout.
.lyo-box {
  display: block;
  padding: var(---box-space, var(--s-spacing-block));
  border: var(
    ---box-border,
    var(---box-border-width, var(--s-stroke-width-default))
      var(---box-border-style, var(--s-stroke-style-default))
      var(---box-border-color, var(--s-stroke-color-default))
  );
  border-radius: var(---box-radius, var(--s-radius-default));
}
