////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/center";

/// Center layout.
/// @link https://every-layout.dev/layouts/center/ Every Layout: The Center
.lyo-center {
  @include center.layout;

  &.#{$mod-prefix}intrinsic {
    @include center.modifier-intrinsic;
  }
}
