////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;

/// Center layout.
.lyo-center {
  display: block;
  box-sizing: content-box;
  max-inline-size: var(---container-size);
  padding-inline: var(---container-gutter);
  margin-inline: auto;
}

/// Center layout with intrinsic centering.
.lyo-center.#{$mod-prefix}intrinsic,
%lyo-center--intrinsic {
  > * {
    text-align: center;
    margin-inline: auto;
  }
}
