////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/center";

/// Center layout.
/// @see center.layout
.lyo-center {
  @include center.layout;
}

/// Intrinsic center layout.
/// @name .lyo-center.+intrinsic
/// @see center.modifier-intrinsic
.lyo-center.#{$mod-prefix}intrinsic {
  @include center.modifier-intrinsic;
}
