////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/cover";

/// Cover layout.
/// @link https://every-layout.dev/layouts/cover/ Every Layout: The Cover
.lyo-cover {
  @include cover.layout;
}
