////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;

/// Cover layout.
/// @link https://every-layout.dev/layouts/cover/ Every Layout: The Cover
.lyo-cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(---cover-space, svar(spacing-block));

  & > * {
    margin-block: auto;
  }
}
