////
/// @group ut-layout
////

/// Cover layout.
.lyo-cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(---cover-space, var(--spacing-block));

  & > * {
    margin-block: auto;
  }
}
