////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/stack";

/// Stack layout.
/// @link https://every-layout.dev/layouts/stack/ Every Layout: The Stack
.lyo-stack {
  @include stack.layout;
}
