////
/// @group ut-layout
////

@use "../../../axioms/properties/io" as *;

/// Stack layout.
.lyo-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  > * + * {
    margin-block-start: var(---stack-space, svar(spacing-block));
  }
}
