////
/// @group ut-layout
////

@use "../../../axioms/tools/layout/wrap";

/// Reset wrapping: Let this item claim the space of the whole row.
/// @see wrap.layout-reset
.lyo-reset-wrap {
  @include wrap.layout-reset;
}
