////
/// @group ut-layout
////

/// Reset wrapping.
.lay-wrap-reset {
  grid-column: 1 / -1 !important;
  max-inline-size: unset !important;
  flex: 100% !important;
}

.lay-wrap-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, calc(0.75 * var(--measure))), 1fr)
  );
}

.lay-wrap-flex,
.lay-wrap-cluster {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }
}

.lay-wrap-flex {
  & > * {
    flex-basis: calc(2 / 3 * var(--measure));
  }
}

[class^="lay-wrap-"],
[class*=" lay-wrap-"] {
  &:is(article, section) {
    gap: var(--spacing-sectioning);
  }

  &:is(ol, ul, menu) {
    gap: var(--spacing-block);
  }

  > * {
    margin-block: 0;
  }
}
