////
/// @group ax-basic-tokens
////

@use "sass:math";
@use "scale";

$min: -2 !default;
$max: 5 !default;

/// ### Modular Scale
/// @link https://www.pollen.style/modules/typography#modular-scale Pollen

:root {
  --scale-factor: #{scale.$factor};

  @for $i from $min through $max {
    --scale-#{$i}: #{scale.modular($i)};
  }

  --scale-smaller: #{math.div(100%, scale.$factor)};
  --scale-larger: #{100% * scale.$factor};
}
