////
/// @group ax-basic-tokens
////

/// ### Measure
/// @link https://www.pollen.style/modules/typography#prose-width Pollen (prose width)
/// @link https://en.wikipedia.org/wiki/Measure_(typography) Wikipedia
/// @link http://webtypography.net/2.1.2 Web Typography
///
:root {
  $sizes: ("xxs", "xs", "sm", "md", "lg", "xl", "xxl");
  $step: 5;

  // Use square numbers from 25ch to 121ch.
  @each $size in $sizes {
    --measure-#{$size}: #{$step * $step * 1ch};
    $step: $step + 1;
  }

  --measure-full: 100%;
  --measure-inf: 65535ch;

  --measure: var(--measure-md);
}
