////
/// @group ax-basic-tokens
////

/// ### Prose Width
/// @link https://www.pollen.style/modules/typography#prose-width Pollen
///
:root {
  --prose-xs: 24ch;
  --prose-sm: 30ch;
  --prose-md: 42ch;
  --prose-lg: 60ch;
  --prose-xl: 84ch;
}
