////
/// @group ax-properties
////

@use "sass:map";
@use "../../../config" as cfg;

@use "shared" as rhythm;

$min: map.get(cfg.$merged, typography, scale, min);
$max: map.get(cfg.$merged, typography, scale, max);

/// ### Line Height
/// Line heights supporting the vertical rhythm at every step of the scale.
/// @link https://www.pollen.style/modules/typography#line-height Pollen
/// @link https://drewish.com/tools/vertical-rhythm/

:root {
  --line-root: #{rhythm.$line-height-root};
  --line-root-abs: #{rhythm.$rlh};

  @for $i from $min through $max {
    --line-#{$i}: #{rhythm.grid-line($i)};
  }
}
