////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;

@use "scale";

$min: map.get(cfg.$merged, typography, scale, min);
$max: map.get(cfg.$merged, typography, scale, max);

/// ### Modular Scale
/// @link https://www.pollen.style/modules/typography#modular-scale Pollen

:root {
  --scale-factor: #{scale.$factor};

  @for $i from $min through $max {
    --scale-#{$i}: #{scale.modular($i)};
  }

  --scale-smaller: #{math.div(100%, scale.$factor)};
  --scale-larger: #{100% * scale.$factor};
}
