////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../tools/functions/scale";

/// @name Modular Font Size Scale
/// @requires $merged
/// @link https://www.pollen.style/modules/typography#modular-scale Pollen inheritance
:root {
  $base: map.get(cfg.$merged, typography, scale, base);
  $factor: map.get(cfg.$merged, typography, scale, factor);
  $min: map.get(cfg.$merged, typography, scale, min);
  $max: map.get(cfg.$merged, typography, scale, max);

  --scale-factor: #{$factor};

  @for $i from $min through $max {
    --scale-#{$i}: #{scale.modular($base, $factor, $i)};
  }

  --scale-smaller: #{math.div(100%, $factor)};
  --scale-larger: #{100% * $factor};
}
