////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../tools/functions/rhythm";

$min: map.get(cfg.$merged, typography, scale, min);
$max: map.get(cfg.$merged, typography, scale, max);

/// ### Modular Scale
/// @link https://www.pollen.style/modules/typography#modular-scale Pollen

:root {
  --scale-factor: #{rhythm.$factor};

  @for $i from $min through $max {
    --scale-#{$i}: #{rhythm.modular($i)};
  }

  --scale-smaller: #{math.div(100%, rhythm.$factor)};
  --scale-larger: #{100% * rhythm.$factor};
}
