////
/// @group el-forms
////

/// Button. Submitting the form and other actions.
///
/// @link https://html.spec.whatwg.org/multipage/form-elements.html#the-button-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/button MDN
button {
}
