////
/// @group el-forms
////

/// The form itself.
///
/// @link https://html.spec.whatwg.org/multipage/forms.html#the-form-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/form MDN
form {
}
