.l-wrap-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, calc(0.75 * var(--measure))), 1fr)
  );
}

.l-wrap-flex,
.l-wrap-cluster {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }
}

.l-wrap-flex {
  & > * {
    flex-basis: calc(2 / 3 * var(--measure));
  }
}

[class^='l-wrap-'], [class*=' l-wrap-'] {
  &:is(ol, ul, menu) {
    gap: var(--spacing-block);
  }

  section {
    margin: 0;
  }
}
