////
/// @group el-embedding
////

/// Top-level MathML element.
///
/// @link https://w3c.github.io/mathml-core/#the-top-level-math-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/MathML/Reference/Element/math MDN
math {
}
