////
/// @group el-embedding
////

/// Top-level SVG element.
///
/// @link https://svgwg.org/svg2-draft/struct.html#SVGElement Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/SVG/Reference/Element/svg MDN
svg {
}
