////
/// @group el-text
////

/// Inline Quotation
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-q-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/q MDN
q {
}
