////
/// @group el-text
////

/// Subscript.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-sub-and-sup-elements Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/sub MDN
sub {
}
