////
/// @group ax-properties
////

/// @name Letter Spacing
/// @link https://www.pollen.style/modules/typography#letter-spacing Pollen inheritance
/// @todo Configure and calculate this.
:root {
  --letter-xs: -0.05em;
  --letter-sm: -0.025em;
  --letter-none: 0em;
  --letter-lg: 0.025em;
  --letter-xl: 0.05em;
}
