////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "../../config" as cfg;
@use "../../tools/arithmetic/function";
@use "../../tools/typography/rhythm";

/// Line heights supporting the vertical rhythm at every step of the scale.
/// @name Line Heights
/// @requires $merged
/// @link https://drewish.com/tools/vertical-rhythm/ Vertical rhythm calculation tool
:root {
  $scale: map.get(cfg.$merged, typography, scale);
  $line: map.get(cfg.$merged, typography, line);
  $rlh: map.get(cfg.$merged, typography, rlh);

  --line-root: #{map.get($line, root)};
  --line-root-abs: #{$rlh};

  @for $i
    from map.get($scale, mapped, range, start)
    through map.get($scale, mapped, range, end)
  {
    $font-size: meta.call(
      map.get($scale, mapped, function),
      $i,
      map.get($scale, mapped, params)...
    );
    --line-#{$i}: #{rhythm.grid-line(
        $font-size,
        $rlh,
        map.get($line, min),
        map.get($line, sub)
      )};
  }
}
