////
/// @group el-sectioning
////

@use "sass:map";
@use "../../axioms/config" as cfg;
@use "../../axioms/tools/mixins/coloring";

/// ## Heading Content

/// @name General heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  @include coloring.set-colors("heading");
  color: var(---clr-fg);
}

$colors: map.get(cfg.$merged, color, logical);
@for $level from 1 through 6 {
  @if map.get($colors, heading-#{$level}) {
    /// @name Level-specific heading styles
    h#{$level} {
      @include coloring.set-colors("heading-#{$level}", "heading");
    }
  }
}

/// @name New (2022) hgroup semantics
hgroup {
  p {
    font-family: var(--font-heading);
    font-weight: var(--weight-heading);
    color: var(---clr-fg);
  }
  h1 ~ p {
    font-size: var(--scale-2);
    line-height: var(--line-2);
  }
  h2 ~ p {
    font-size: var(--scale-1);
    line-height: var(--line-1);
  }
}
