table.standard-table {
  --table-border-width: var(--stroke-width-default);
  --table-border-style: var(--stroke-style-default);
  --table-border-color: var(--color-grey-500);

  thead {
    background-color: var(--color-grey-400);
  }

  tr:nth-child(2n) {
    background-color: var(--color-grey-100);
  }
}
