////
/// @group ax-config
////

/// ## Typography Configuration

/// Default typography settings.
///
/// @type Map
/// @property {Number} line.min Relative minimal line-height.
/// @property {Number} line.root Relative line-height of the document root.
/// @property {Number} line.sub Sub-units per line allowed by base-line grid.
/// @property {Number<rem|em|%>} scale.base Base font-size of the typographical scale.
/// @property {Number} scale.ratio Ratio for the modular type scale
/// (i. e. the base of the exponential function).
$default: (
  line: (
    min: 1.1,
    root: 1.5,
    sub: 1,
  ),
  scale: (
    base: 1rem,
    ratio: 1.5,
  ),
);
