/**
 * ### Block-level Text Content
 */

/* Generic block */
// div { Don’t style the generic block! }

/* Paragraph */
p {}

/* Thematic break */
hr {
  color: var(--color-hr);
}

/* List */
ol {}

ul {}

menu {
  --item-height: 2em;
  --item-line-height: 1em;
  --item-padding: 1em;

  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    height: var(--item-height);
    line-height: var(--item-line-height);
    padding: 0;
    margin: 0;

    & > a {
      display: grid;
      align-content: center;
      height: 100%;
      padding-inline: var(--item-padding);
    }
  }
}

li {}

/* Definition list */
dl {}
dt {}
dd {}

/* Extended quotation */
blockquote {
  margin-inline: 0;
  padding: 0;
  border: none;
  border-inline-start: solid var(--size-1);
  padding-inline-start: var(--size-5);
}

/* Self-contained figure */
figure {}
figcaption {}

/* Preformatted text */
pre {}
