/**
 * ### Inline Text Semantics
 */

/* Generic range */
// span { Don’t style the generic range! }

/* Links */

a:any-link {
  color: var(--color-links);
  text-decoration: none;
}
a:any-link:hover {
  text-decoration: underline;
}

abbr {}

b {}

bdi {}

bdo {}

br {}

cite {}

code {}

data {}

dfn {}

em {}

i {}

kbd {
  color: var(--color-grey-700);
  background: var(--color-grey-300);
  border: 0.0625rem solid var(--color-grey-500);
  border-radius: var(--radius-xs);
  padding-inline: 0.2em;
}

mark {}

q {}

rp {}

rt {}

ruby {}

s {}

samp {}

small {}

strong {}

sub {}

sup {}

time {}

u {}

var {}

wbr {}
