////
/// @group el-embedding
////

/// Embed external content.
///
/// @link https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-embed-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/embed MDN
embed {
}
