////
/// @group el-embedding
////

/// Inline frame.
///
/// @link https://html.spec.whatwg.org/multipage/iframe-embed-object.html#the-iframe-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/iframe MDN
iframe {
}
