////
/// @group ob-navigation
////

@use "../../a.settings/a.basic-tokens/b.layout/b.container-widths" as widths;

/// # Navigation Menu
///
/// Common patterns for navigation menus. Separated into several aspects.

/// Breakpoint for switching to wide layout.
$nav-wide: widths.$width-sm;

/// Size factor of the menu.
$size: 2em;

/// General navigation menu. This is the basic selector with the basic rules applied.
nav.menu {
  position: relative;

  & .--toggle-state,
  & .--toggle-face {
    display: none;
  }
}

/// Levelable Nav.
/// Places items on a horizontal level if enough space is available.
nav.menu.levelable {
  & > menu {
    display: block;

    & > li {
      display: block;
      text-align: start;
    }

    // Horizontal nav on wider screen.
    @media (min-width: $nav-wide) {
      display: flex;

      & > li {
        flex: 1;
        text-align: center;
      }
    }
  }
}

// Nav folded.
@mixin toggle-face-folded {
  background: var(--toggle-face-folded-background);
  border-radius: var(--toggle-face-folded-radius);
  box-shadow: var(--toggle-face-folded-shadow);
}

/// Foldable Nav.
/// Allows to toggle the display of the menu.
nav.menu.foldable {
  --toggle-face-size: #{$size};
  --inset-start: var(--toggle-face-size);
  --inset-end: 0;

  & > label {
    & > .--toggle-face {
      display: inline-block;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: var(--toggle-face-size);
      block-size: var(--toggle-face-size);
      padding: var(--toggle-face-padding);
      transition: all 0.3s var(--easing-standard);

      & > img {
        block-size: 100%;
      }
    }
  }

  & > menu {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: var(--inset-start);
    inset-inline-end: var(--inset-end);
    overflow: hidden;
    transition: inset-inline-end 0.3s var(--easing-standard);
  }

  @media (max-width: calc($nav-wide - 1px)) {
    // Backdrop when unfolded on small screen.
    & input.--toggle-state:checked ~ label {
      position: absolute;
      inset: 0;
      inline-size: 100vw;
      block-size: 100vh;
      background: rgba(0, 0, 0, 0.5);
    }

    & input.--toggle-state:not(:checked) {
      & ~ menu {
        inset-inline-end: 100%;
      }

      & ~ label > .--toggle-face {
        @include toggle-face-folded;
      }
    }
  }

  @media (min-width: $nav-wide) {
    & input.--toggle-state:checked {
      & ~ menu {
        inset-inline-end: 100%;
      }

      & ~ label > .--toggle-face {
        @include toggle-face-folded;
      }
    }
  }
}

/// Sticky Nav.
/// Makes navbar stick to the top of the viewport.
nav.menu.sticky {
  position: sticky;
  inset-block-start: 0;
  block-size: $size;

  menu {
    --item-height: #{$size};
  }
}
