////
/// @group ax-basic-tokens
////


/// ### Font Families
/// @link https://www.pollen.style/modules/typography#font-families Pollen
///
:root {
  --font-sans: "Source Sans Pro", sans-serif;
  --font-serif: "Source Serif Pro", serif;
  --font-mono: "Source Code Pro", monospace;
}
