////
/// @group el-forms
////

/// Input.
///
/// @link https://html.spec.whatwg.org/multipage/form-elements.html#the-input-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input MDN
input {
}
