////
/// @group el-text
////

/// ### Enhanced Semantics
///
/// - [b](#css--b)
/// - [i](#css--i)
/// - [u](#css--u)
/// - [s](#css--s)
/// - [small](#css--small)
/// - [mark](#css--mark)

@use "b";
@use "i";
@use "u";
@use "s";
@use "small";
@use "mark";
