////
/// @group el-text
////

/// Bring attention.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-b-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/b MDN
b {
}
