////
/// @group el-text
////

/// Idiomatic text.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-i-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/i MDN
i {
}
