////
/// @group el-text
////

/// Strikethrough/obsolete text.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-s-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/s MDN
s {
}
