////
/// @group el-text
////

/// Side-comments and small print.
///
/// @link https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-small-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/small MDN
small {
}
