////
/// @group el-forms
////

/// Progress.
///
/// @link https://html.spec.whatwg.org/multipage/form-elements.html#the-progress-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/progress MDN
progress {
}
