////
/// @group ax-properties
////

@use "sass:map";
@use "../basic/layout/container";

/// @name Logical Properties
/// @todo Configure.
:root {
  --spacing-block: var(--line-root-abs);
  --spacing-heading: var(--spacing-block);
  --spacing-sectioning: calc(2 * var(--spacing-block));
  --spacing-inline: 4ch;
  --inline-padding-default: 0.5ch;
}

/// Save space on smaller screens.
/// @name Responsive Spacing
/// @requires $sizes
:root {
  @media (max-width: map.get(container.$sizes, "sm")) {
    --spacing-sectioning: var(--spacing-block);
  }
}
