@use "../../../axioms/properties/io" as *;
@use "../primitive/center";

:where(body.lyo-page-center) > {
  :where(header, main, footer) {
    ---container-size: #{svar(container-page)};
    ---container-gutter: 5vw;

    > * {
      @extend .lyo-center;
    }

    > .#{$part-prefix}breakout {
      ---container-size: 100%;
    }
  }
}
