@use "../primitive/center";

:where(body.lay-page-center) > {
  :where(header, main, footer) {
    --container-size: var(--container-page);
    --container-gutter: 5vw;

    > * {
      @extend .lay-center;
    }

    > .\~breakout {
      --container-size: 100%;
    }
  }
}
