@use "../../../axioms/properties/io" as *;
@use "../../../axioms/tools/layout/center";

:where(body.lyo-page-center) > {
  :where(header, main, footer) {
    ---container-size: #{svar(container-page)};
    ---container-gutter: 5vw;

    > * {
      @include center.layout;
    }

    > .#{$part-prefix}breakout {
      ---container-size: 100%;
    }
  }
}
