@use "../primitive/center";

:where(body.lyo-page-center) > {
  :where(header, main, footer) {
    ---container-size: var(--container-page);
    ---container-gutter: 5vw;

    > * {
      @extend .lyo-center;
    }

    > .\~breakout {
      ---container-size: 100%;
    }
  }
}
