////
/// @group el-grouping
////

/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-dd-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dd MDN
dd {
}
