////
/// @group el-grouping
////

/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-dl-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dl MDN
dl {
}
