////
/// @group el-document
////

/// # General Document Structure
///
/// The following rules target elements that are (or should be) unique to each document. In some cases
/// compound selectors are required in order to only select the specific element. Nevertheless, we can
/// address them without any added class specificity.

/// Document root.
/// Also selectable as `:root` (which has a higher specificity).
///
/// @link https://html.spec.whatwg.org/multipage/semantics.html#the-root-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#main_root MDN
html {
  font-size: var(--scale-root, 100%);
}

/// Content root.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-body-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root MDN
body {
  ---clr-pos: var(--color-body);
  ---clr-neg: var(--color-body-negative);
  color: var(---clr-fg);
  background-color: var(---clr-bg);
}

/// The document’s main content. [There can be only one (visible).][highlander]
///
/// [highlander]: https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element:attr-hidden
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main MDN
main {
  padding-block: var(--spacing-sectioning);
}

/// The body or an inevitable wrapper div.
$body-or-wrapper: ":where(body, body > div:only-child)";

/// The document’s main header and footer.
/// (There could be more than one of each. But that would not make much sense.)
#{$body-or-wrapper} > :is(header, footer) {
  padding-block: var(--spacing-sectioning);
}

/// Apply [“clever sticky footer”][css-tricks] technique.
///
/// [css-tricks]: https://css-tricks.com/a-clever-sticky-footer-technique/
#{$body-or-wrapper} {
  min-block-size: 100vh;

  > footer {
    position: sticky;
    inset-block-start: 100vh;
  }
}
