////
/// @group el-document
////

/// # General Document Structure
///
/// The following rules target elements that are (or should be) unique to each document. In some cases
/// compound selectors are required in order to only select the specific element. Nevertheless, we can
/// address them without any added class specificity.

@use "../objects/coloring/accented";

/// Document root.
/// Also selectable as `:root` (which has a higher specificity).
///
/// @link https://html.spec.whatwg.org/multipage/semantics.html#the-root-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#main_root MDN
html {
  font-size: var(--scale-root, 100%);
}

/// Content root.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-body-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root MDN
body {
  color: var(--color-body);
  background-color: var(--color-body-negative);
  // Push down the footer.
  min-block-size: 100vh;
}

/// The document’s main content. [There can be only one (visible).][highlander]
///
/// [highlander]: https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element:attr-hidden
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main MDN
main {
  padding-block: var(--spacing-sectioning);
}

/// The document’s main header.
/// (There could be more than one. But that would not make much sense.)
:where(body, body > div) > header {
  @extend %clr-accented--inverted;
  padding-block: var(--spacing-sectioning);
}

/// The document’s main footer.
/// (There could be more than one. But that would not make much sense.)
:where(body, body > div) > footer {
  // Clever sticky footer (https://css-tricks.com/a-clever-sticky-footer-technique/)
  position: sticky;
  inset-block-start: 100vh;

  // Spacing and color.
  @extend %clr-accented--inverted;
  padding-block: var(--spacing-sectioning);
}
