////
/// @group el-links
////

/// # Links
///
/// @link https://html.spec.whatwg.org/multipage/links.html Spec

:where(a:any-link) {
  ---clr-pos: var(--color-links);
  ---clr-neg: var(--color-links-negative);
  color: var(---clr-fg);
  text-decoration: underline;
}
:where(a:any-link:hover) {
  text-decoration: none;
}

// anchors
// a[id] {}
