////
/// @group el-links
////

@use "../axioms/tools/coloring";

/// # Links
///
/// @link https://html.spec.whatwg.org/multipage/links.html Spec

:where(a:any-link) {
  @include coloring.set-colors("links");
  color: var(---clr-fg);
  text-decoration: underline;
}
:where(a:any-link:hover) {
  text-decoration: none;
}

// anchors
// a[id] {}
