////
/// @group el-tables
////

/// # Tabular Content
///
/// The elements here are used to create and handle tabular data (data with more than one dimension).
///
/// @link https://html.spec.whatwg.org/multipage/tables.html Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Element#table_content MDN

@use "../axioms/properties/io" as *;

/// The table itself.
table {
  ---border-width: var(---table-border-width, 0rem);
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  // Compensate border to stay in baseline grid.
  margin-block-end: calc(-1 * var(---border-width));
}

/// Table caption.
caption {
  margin-inline: auto;
}

/// Table header.
thead {
}

/// Table body.
tbody {
}

/// Table footer.
tfoot {
}

/// Table row.
tr {
}

/// Table cells.
td,
th {
  border: var(---border-width) var(---table-border-color)
    var(---table-border-style);
  padding: calc(0.5 * (svar(line-root-abs) - var(---border-width)));
}

col {
}

colgroup {
}
