////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../tools/mixins/prop-map";

/// A scale of stroke widths with a given number of units per root line.
/// @name Stroke Width Scale
/// @requires $merged
/// @requires $derived
:root {
  $conf: map.get(cfg.$merged, ui, stroke, width);
  $rlh: map.get(cfg.$derived, typography, rlh);

  $prefix: "stroke-width";

  @for $i from map.get($conf, min) through map.get($conf, max) {
    --#{$prefix}-#{$i}: #{$rlh * math.div($i, map.get($conf, line))};
  }

  @include prop-map.configured-properties($prefix, $conf);
}
