////
/// @group ax-properties
////

@use "sass:map";
@use "sass:math";
@use "../../../config" as cfg;
@use "../../../tools/mixins/prop-map";
@use "../../typography/line";

/// A scale of stroke widths with $line units per root line.
/// @name Stroke Width Scale
/// @requires $merged
/// @requires $rlh
:root {
  $conf: map.get(cfg.$merged, ui, stroke, width);
  $min: map.get($conf, min);
  $max: map.get($conf, max);
  $line: map.get($conf, line);
  $prefix: "stroke-width";

  @for $i from $min through $max {
    --#{$prefix}-#{$i}: #{line.$rlh * math.div($i, $line)};
  }

  @include prop-map.configured-properties($conf, $prefix);
}
