////
/// @group el-forms
////

/// # Form-associated Content
///
/// These are elements which can be used together to create forms which the user can fill out and submit to the web site or application.
///
/// - [General](#general)
/// - [Labeling & Grouping](#labeling-grouping)
/// - [Value Lists](#value-lists)
/// - [Inputs](#inputs)
/// - [Outputs](#outputs)
///
/// @link https://html.spec.whatwg.org/multipage/forms.html Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements#forms MDN

@use "general";
@use "grouping";
@use "lists";
@use "inputs";
@use "outputs";
