////
/// @group el-grouping
////

/// Self-contained figure.
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-figure-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/figure MDN
figure {
}
