////
/// @group ax-config
////

$prim: 215deg;
$dist: 140deg;
$cs: "hsl";
$sl-curve: 0.1 0.9 0.8 0.9 0.8 0.1 0.1 0.1;
$range: (
  step: 0.1,
  start: 0,
  end: 1,
);
$suffix: (
  factor: 1000,
  inverse: false,
) !default;

/// Brand colors.
/// Kept separate from the default configuration to make it optional to import.
/// @name palettes@brand
$palettes: (
  "grey": (
    hue: $prim,
    sl-curve: 0.1 0.9 0.2 0.9 0.2 0.1 0.1 0.1,
    range: $range,
    suffix: $suffix,
    color-space: $cs,
  ),
  "primary": (
    hue: $prim,
    sl-curve: $sl-curve,
    range: $range,
    suffix: $suffix,
    color-space: $cs,
  ),
  "secondary": (
    hue: $prim + $dist,
    sl-curve: $sl-curve,
    range: $range,
    suffix: $suffix,
    color-space: $cs,
  ),
  "tertiary": (
    hue: $prim - $dist,
    sl-curve: $sl-curve,
    range: $range,
    suffix: $suffix,
    color-space: $cs,
  ),
);
