////
/// @group ax-config
////

/// Logical color map.
/// Kept separate from the default configuration to make it optional to import.
/// @name mapping@logical
$mapping: (
  body: "grey-1000",
  body-contra: "grey-0",
  neutral: "grey-500",
  alternate: "grey-700",
  alternate-contra: "grey-100",
  mark: "grey-900",
  mark-contra: "grey-200",
  heading: "primary-700",
  heading-contra: "primary-300",
  heading-alternate: "tertiary-700",
  heading-alternate-contra: "tertiary-300",
  links: "secondary-700",
  links-contra: "secondary-300",
  links-alternate: "secondary-500",
  links-alternate-contra: "secondary-300",
  nav: "heading",
  nav-contra: "heading-contra",
  hr: "primary-500",
);
