////
/// @group ax-config
////

/// Logical color map.
/// Kept separate from the default configuration to make it optional to import.
/// @name mapping@logical
$mapping: (
  body: "grey-600",
  body-contra: "grey-0",
  neutral: "grey-500",
  alternate: "grey-800",
  alternate-contra: "grey-200",
  mark: "grey-700",
  mark-contra: "grey-100",
  heading: "primary-700",
  heading-contra: "primary-200",
  heading-alternate: "tertiary-800",
  heading-alternate-contra: "tertiary-200",
  links: "secondary-700",
  links-contra: "secondary-100",
  links-alternate: "secondary-800",
  links-alternate-contra: "secondary-200",
  nav: "heading",
  nav-contra: "heading-contra",
  hr: "primary-500",
  list-marker: "primary-400",
  del: "secondary-700",
  del-contra: "secondary-300",
  ins: "tertiary-700",
  ins-contra: "tertiary-300",
);
