////
/// @group el-grouping
////

/// Paragraph.
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-p-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/p MDN
p {
}
