////
/// @group ax-properties
////

/// #### Coloring Mixins

@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "../../../properties/settings" as *;
@use "../../../tools/arithmetic/function";
@use "../../../tools/geometry/parametric-curves/bézier";

/// Generate a color palette for a given hue.
/// @param {String} $name The color name.
/// @param {Number} $hue The color hue (of HSL).
/// @param {List} $s-curve The polynomial coefficients defining the curve described by
///                 cartesian coordinates of palette step and saturation (of HSL).
/// @param {List} $l-curve The polynomial coefficients defining the curve described by
///                 cartesian coordinates of palette step and lightness (of HSL).
/// @param {List} $sl-curve The control points defining a cubic Bézier in a cartesian
///                 coordinate system of saturation and lightness (of HSL).
///                 If this is definded the other two curves are ignored.
/// @param {Map} $range Start, end, and step-size of the palette.
/// @param {String} $prefix Property name prefix.
/// @param {Map} $suffix Property name suffix (factor: <Number>, inverse: <Boolean>).
/// @output A list of `--s-<prefix>-*` custom properties containing the color values of the palette:
///   ```css
///   --s-<prefix>-red-100: hsl(0deg, 100%, 95%);
///   --s-<prefix>-red-300: hsl(0deg, 95%, 75%);
///   --s-<prefix>-red-500: hsl(0deg, 76%, 57%);
///   --s-<prefix>-red-700: hsl(0deg, 61%, 48%);
///   --s-<prefix>-red-900: hsl(0deg, 50%, 29%);
///   --s-<prefix>-red: var(#{$🌱}<prefix>-red-500);
///   ```
@mixin palette(
  $name,
  $hue,
  $s-curve: null,
  $l-curve: null,
  $sl-curve: null,
  $range: null,
  $prefix: "color",
  $suffix: null
) {
  $range: if($range, $range, ());
  $step: if(map.has-key($range, step), map.get($range, step), 0.2);
  $start: if(map.has-key($range, start), map.get($range, start), 0.1);
  $end: if(map.has-key($range, end), map.get($range, end), 0.9);
  $s-curve: if($s-curve, $s-curve, (1, -1, 1));
  $l-curve: if($l-curve, $l-curve, (1, -1));
  $suffix: if($suffix, $suffix, ());
  $suffac: if(map.has-key($suffix, factor), map.get($suffix, factor), 1000);
  $sufinv: if(map.has-key($suffix, inverse), map.get($suffix, inverse), false);

  $current: $start;
  @while $current <= $end {
    $saturation: 0;
    $lightness: 0;
    @if $sl-curve {
      $sl: bézier.cubic-2d($current, $sl-curve...);
      $saturation: 100% * list.nth($sl, 1);
      $lightness: 100% * list.nth($sl, 2);
    } @else {
      $saturation: 100% * function.polynomial($current, $s-curve...);
      $lightness: 100% * function.polynomial($current, $l-curve...);
    }
    #{$🌱}#{$prefix}-#{$name}-#{math.round($suffac * if($sufinv, 1 - $current, $current))}: #{hsl(
        $hue,
        $saturation,
        $lightness
      )};
    $current: $current + $step;
  }
}
