////
/// @group ax-generic
////

/// The current target element.
/// @name Target Scroll Spacing
:target {
  // Give URL fragment target enough air.
  scroll-margin-block-start: var(--length-l3);
}

/// Establish a generic measure.
/// @name General Measure
:where(h1, h2, h3, h4, h5, h6, p, address, summary, figcaption, caption) {
  max-inline-size: var(--measure);
}

/// Set abstract colors.
* {
  ---clr-fg: var(---clr-pos);
  ---clr-bg: var(---clr-neg);
}
