////
/// @group ax-generic
////

/// ## Flow Spacing
///
/// Use common block margin to establish consistency in [flow layout][flow-layout] and to support vertical rhythm.
///
/// [flow-layout]: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flow_Layout
/// @link https://andy-bell.co.uk/my-favourite-3-lines-of-css/ Recap of “The Stack”

@use "../properties/io" as *;
@use "../../elements/selectors" as el;

/// @name Flow Space Definition for General Blocks
:is(#{el.$blocks}, div) {
  ---flow-space: #{svar(spacing-flow-default)};
}

/// @name Flow Space Definition for Sections
:is(#{el.$sections}) {
  ---flow-space: #{svar(spacing-flow-sectioning)};
}

/// @name Flow Space Definition for Headings
:is(#{el.$headings}) {
  ---flow-space: #{svar(spacing-flow-heading, svar(spacing-flow-default))};
}

/// @name Flow Space Definition for List Items and Nested Lists
li,
li :is(#{el.$lists}) {
  ---flow-space: #{svar(spacing-flow-list, svar(spacing-flow-default))};
}

/// @name Flow Space Definition for Definition Terms
dt {
  ---flow-space: #{svar(
      spacing-flow-defterm,
      svar(spacing-flow-deflist, svar(spacing-flow-default))
    )};
}

/// @name Flow Space Definition for Definition Data
dd {
  ---flow-space: #{svar(
      spacing-flow-defdata,
      svar(spacing-flow-deflist, svar(spacing-flow-default))
    )};
}

/// @name Flow Space Applied Before General Blocks
* + :is(#{el.$blocks}),
:is(#{el.$blocks}) + div {
  margin-block-start: var(---flow-space, 1em);
}

/// @name Flow Space Applied Around Sections
:is(#{el.$sections}) {
  :where(&:not(:first-child)) {
    margin-block-start: var(---flow-space);
  }
  :where(&:not(:last-child)) {
    margin-block-end: var(---flow-space);
  }
}
