////
/// @group ax-generic
////

/// ## Generic Typography

/// The line-height of the root element.
/// @name Root Line Height
html {
  line-height: var(--s-line-root);
}

/// Fonts for body copy.
/// @name Body Copy
body {
  font-family: var(--s-font-family-body);
  font-weight: var(--s-font-weight-body);
  font-size: var(--s-scale-0);
  line-height: var(--s-line-0);
}

/// Fonts for headings.
/// @name Headings
:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--s-font-family-heading);
  font-weight: var(--s-font-weight-heading);
}

@for $level from 1 through 6 {
  /// Apply respective font-size and line-height to each heading level.
  h#{$level} {
    font-size: var(--s-scale-#{4 - $level});
    line-height: var(--s-line-#{4 - $level});
  }
}

/// Establish a generic measure.
/// @name General Measure
:is(h1, h2, h3, h4, h5, h6),
:is(p, address, summary, figcaption, caption) {
  max-inline-size: var(---measure, var(--s-measure-default));
}

/// Generic typography for monospaced elements.
/// @name Monospaced
:is(code, kbd, samp),
pre {
  font-family: var(--s-font-family-mono);
}

/// Set scale-based font size.
/// @name Smaller
:is(small, sub, sup) {
  font-size: var(--s-scale-smaller);
}

/// Prevent certain inline (pseudo) elements from affecting the line height.
/// @name Base Line Fix
:is(code, kbd, samp),
:is(small, sub, sup),
::marker {
  line-height: 0;
}
