////
/// @group ax-generic
////

/// ## Generic Typography

@use "sass:map";
@use "../../axioms/config" as cfg;
@use "../properties/io" as *;

$-rlh: map.get(cfg.$merged, typography, line, rlh);

/// The font size and line height of the root element.
/// @name Root Line Height and Font Size
html {
  font-size: svar(font-size-root, 1rem);
  line-height: svar(line-root, svar(line-default));
}

/// Fonts for body copy.
/// @name Body Copy
body {
  font-family: svar(font-family-body);
  font-weight: svar(font-weight-body);
  font-size: svar(font-size-0);
  // Only use baseline-grid-supporting line heights if rlh is defined.
  @if $-rlh {
    line-height: svar(line-0);
  }
}

/// Fonts for headings.
/// @name Headings
:is(h1, h2, h3, h4, h5, h6) {
  font-family: svar(font-family-heading);
  font-weight: svar(font-weight-heading);
}

// Get configured heading level at rem size. Default to h4.
$-rh: map.get(cfg.$merged, typography, font, size, rem-heading);
$-rh: if($-rh, $-rh, 4);

@for $level from 1 through 6 {
  /// Apply respective font-size and line-height to each heading level.
  h#{$level} {
    font-size: svar(font-size-#{$-rh - $level});
    // Only use baseline-grid-supporting line heights if rlh is defined.
    @if $-rlh {
      line-height: svar(line-#{$-rh - $level});
    }
  }
}

/// Establish a generic measure.
/// @name General Measure
/// @link https://every-layout.dev/rudiments/axioms/#measure Every Layout: Measure
:is(h1, h2, h3, h4, h5, h6),
:is(p, address, summary, figcaption, caption) {
  max-inline-size: var(---measure, svar(measure-default));
}

/// Generic typography for monospaced elements.
/// @name Monospaced
:is(code, kbd, samp),
pre {
  font-family: svar(font-family-mono);
}

/// Set scale-based font size.
/// @name Smaller
:is(small, sub, sup) {
  font-size: svar(font-size-smaller);
}

@if $-rlh {
  /// Prevent certain inline (pseudo) elements from affecting the line height.
  /// @name Base Line Fix
  :is(code, kbd, samp),
  :is(small, sub, sup),
  ::marker {
    line-height: 0;
  }
}
