////
/// @group id-document
////

/// # Document Structure
///
/// These are typical patterns of the top-level document structure.

/// The body or an inevitable wrapper div.
$body-or-wrapper: ":where(body, body > div:only-child)";

/// The document’s main header and footer.
/// (There could be more than one of each. But that would not make much sense.)
#{$body-or-wrapper} > :is(header, footer) {
  padding-block: var(--s-spacing-block-lg);
}

/// Apply [“clever sticky footer”][css-tricks] technique.
///
/// [css-tricks]: https://css-tricks.com/a-clever-sticky-footer-technique/
#{$body-or-wrapper} {
  min-block-size: 100vh;

  > footer {
    position: sticky;
    inset-block-start: 100vh;
  }
}
