////
/// @group el-grouping
////

/// Preformatted text.
///
/// @link https://html.spec.whatwg.org/multipage/grouping-content.html#the-pre-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/pre MDN
pre {
}
