////
/// @group el-sectioning
////

/// Contact address.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-address-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/address MDN
address {
}
