////
/// @group el-sectioning
////

/// Section footer.
///
/// @link https://html.spec.whatwg.org/multipage/sections.html#the-footer-element Spec
/// @link https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/footer MDN
footer {
}
