////
/// @group ax-properties
////

/// ## Prop I/O: Read and Write Properties
///
/// On CSS level it can be helpful to adhere to naming conventions for custom properties
/// in order to keep a better overview of their respective origin and purpose. Stylament
/// allows you to define a custom prefix to brand all its system properties and provides
/// shortcuts to reference properties in a prefix-agnostic way.

/// Configurable prefix for system CSS variables.
///
/// Stylament defines a prefix for its **system** (hence `s-`) custom properties by default.
/// This can be replaced by any [valid][spec] identifier part when `@use`-ing this file:
///
/// [spec]: https://drafts.csswg.org/css-variables/#defining-variables
///
/// @example scss - Add custom prefix to all system CSS custom properties
///   @use "stylament/css/axioms/properties/io" with ($prop-prefix: "myBrand-");
///
/// @example scss - Keep all system CSS custom properties un-prefixed
///   @use "stylament/css/axioms/properties/io" with ($prop-prefix: "");
///
/// @example scss - Use a fancy prefix
///   @use "stylament/css/axioms/properties/io" with ($prop-prefix: "💅");
///
$prop-prefix: "s-" !default;

/// Shortcut for system CSS variable prefix.
/// @link https://github.com/picocss/pico/commit/c5a1ffc Credits: Pico CSS
/// @name 🌱
$🌱: --#{$prop-prefix};

/// Shortcut for system CSS variable reference.
/// @param {string} $name The un-prefixed variable name.
/// @param {string} $fallback The custom property’s fallback value.
///   Same as [in `var()`](https://developer.mozilla.org/en-US/docs/Web/CSS/var#declaration-value).
/// @return {string} A standard [CSS `var()` reference](https://developer.mozilla.org/en-US/docs/Web/CSS/var).
@function svar($name, $fallback: null) {
  @return if($fallback, var(#{$🌱}#{$name}, #{$fallback}), var(#{$🌱}#{$name}));
}

/// Configurable prefix for atomic utility classes.
///
/// Stylament used to prefix [atomic utility classes](ut-atomic.html) with `@`.
/// This can be replaced by any [valid][spec] identifier part when `@use`-ing this file:
///
/// @example scss - Add custom prefix to atomic utilities
///   @use "stylament/css/axioms/properties/io" with ($atom-prefix: "atomic-");
///
/// @example scss - Keep atomic utilities un-prefixed
///   @use "stylament/css/axioms/properties/io" with ($atom-prefix: "");
///
/// @example scss - Use a fancy prefix
///   @use "stylament/css/axioms/properties/io" with ($atom-prefix: "☢️");
///
$atom-prefix: "\\@" !default;

/// Configurable prefix for modifier classes.
///
/// Stylament used to prefix modifier classes with `+`.
/// This can be replaced by any [valid][spec] identifier part when `@use`-ing this file:
///
/// @example scss - Add custom prefix to modifier classes
///   @use "stylament/css/axioms/properties/io" with ($mod-prefix: "modifier-");
///
/// @example scss - Keep modifier classes un-prefixed
///   @use "stylament/css/axioms/properties/io" with ($mod-prefix: "");
///
/// @example scss - Use a fancy prefix
///   @use "stylament/css/axioms/properties/io" with ($mod-prefix: "🎛️");
///
$mod-prefix: "\\+" !default;

/// Configurable prefix for part classes.
///
/// Stylament used to prefix part classes with `~`.
/// This can be replaced by any [valid][spec] identifier part when `@use`-ing this file:
///
/// @example scss - Add custom prefix to part classes
///   @use "stylament/css/axioms/properties/io" with ($part-prefix: "part-");
///
/// @example scss - Keep part classes un-prefixed
///   @use "stylament/css/axioms/properties/io" with ($part-prefix: "");
///
/// @example scss - Use a fancy prefix
///   @use "stylament/css/axioms/properties/io" with ($part-prefix: "🧱");
///
$part-prefix: "\\~" !default;
