////
/// @group ax-properties
////

/// ## Mixins for Property Generation

@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "../properties/io" as *;
@use "../tools/arithmetic/function";
@use "../tools/config";
@use "../tools/meta" as meta2;

/// List CSS custom properties.
///
/// @param {String} $group Property group name.
/// @param {Map} $properties Map of properties with simple literal values.
/// @output A list of `--<prefix><group>-*` custom properties with their respective values.
@mixin literal-properties($group, $properties) {
  @if $properties {
    @each $name, $value in $properties {
      #{$🌱}#{$group}-#{$name}: #{$value};
    }
  }
}

/// Map CSS custom properties via a given function.
///
/// @param {String} $group Property group name.
/// @param {Map} $mapping Mapping configuration.
/// @output A list of `--<prefix><group>-*` custom properties with their respective calculated values.
@mixin mapped-properties($group, $mapping) {
  @if $mapping {
    $mapped: config.map-function(
      map.get($mapping, domain),
      map.get($mapping, range),
      map.get($mapping, function),
      map.get($mapping, params)
    );

    @if $mapped {
      @each $name, $value in $mapped {
        #{$🌱}#{$group}-#{$name}: #{$value};
      }
    }
  }
}

/// Map logical to basic CSS custom properties.
///
/// @param {String} $group Property group name.
/// @param {Map} $properties Map of logical properties.
/// @output A list of `--<prefix><group>-*` custom properties referring to others.
@mixin logical-properties($group, $properties) {
  @if $properties {
    @each $name, $alias in $properties {
      $value: ();
      @each $part in $alias {
        $part: if(
          string.slice(#{$part}, 1, 1) == "/",
          string.slice($part, 2),
          #{$group}-#{$part}
        );
        $value: list.append($value, svar(#{$part}));
      }
      #{$🌱}#{$group}-#{$name}: $value;
    }
  }
}

/// Generate all configured CSS custom properties.
///
/// @param {String} $group Property group name.
/// @param {Map} $conf Configuration map for this set of properties.
/// @output A list of mapped, literal, and logical `--<prefix><group>-*` custom properties.
@mixin configured-properties($group, $conf) {
  @if $conf {
    @include mapped-properties($group, map.get($conf, mapped));
    @include literal-properties($group, map.get($conf, literal));
    @include logical-properties($group, map.get($conf, logical));
    @if (
      map.has-key($conf, literal, default) or
        map.has-key($conf, logical, default)
    ) {
      #{$🌱}#{$group}: svar(#{$group}-default);
    }
  }
}
