////
/// @group ax-properties
////

@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../tools/arithmetic/function";
@use "../tools/config";
@use "../tools/meta" as meta2;

/// List CSS custom properties.
///
/// @param {String} $prefix Property name prefix.
/// @param {Map} $properties Map of properties with simple literal values.
/// @output A list of `--<prefix>-*` custom properties with their respective values.
@mixin literal-properties($prefix, $properties) {
  @if $properties {
    @each $name, $value in $properties {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

/// Map CSS custom properties via a given function.
///
/// @param {String} $prefix Property name prefix.
/// @param {Map} $domain [null] Map of inouts to the mapping function.
/// @param {Map} $range [null] Range limiting the domain.
/// @param {Function} $func [null] Mapping function.
/// @param {Map} $params [null] Parameters to the function.
/// @output A list of `--<prefix>-*` custom properties with their respective calculated values.
@mixin mapped-properties(
  $prefix,
  $domain: null,
  $range: null,
  $func: null,
  $params: null
) {
  $mapped: config.map-function($domain, $range, $func, $params);

  @if $mapped {
    @each $name, $value in $mapped {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

/// Map logical to basic CSS custom properties.
///
/// @param {String} $prefix Property name prefix.
/// @param {Map} $properties Map of logical properties.
/// @output A list of `--<prefix>-*` custom properties referring to others.
@mixin logical-properties($prefix, $properties) {
  @if $properties {
    @each $name, $alias in $properties {
      --#{$prefix}-#{$name}: var(--#{$prefix}-#{$alias});
    }
  }
}

/// Generate all configured CSS custom properties.
///
/// @param {String} $prefix Property name prefix.
/// @param {Map} $conf Configuration map for this set of properties.
/// @output A list of mapped, literal, and logical `--<prefix>-*` custom properties.
@mixin configured-properties($prefix, $conf) {
  @if $conf {
    @include mapped-properties(
      $prefix,
      map.get($conf, mapped, domain),
      map.get($conf, mapped, range),
      map.get($conf, mapped, function),
      map.get($conf, mapped, params)
    );
    @include literal-properties($prefix, map.get($conf, literal));
    @include logical-properties($prefix, map.get($conf, logical));
  }
}
