@use "../../../axioms/properties/settings" as *;
@use "../../../axioms/generic/coloring";

blockquote.var-alternate {
  @include coloring.set-colors("alternate");
  @include coloring.use-colors;
  ---indent: var(#{$🌱}spacing-inline-lg);
  ---stroke-width: var(#{$🌱}stroke-width-8);
  ---marker: "❝";
  ---marker-size: 1.5;
  ---marker-outdent: -0.75ch;
  padding-block: var(#{$🌱}length-0½);
}
