////
/// @group el-text
////

/// ### Extended quotation

blockquote {
  margin-inline: 0;
  padding: 0;
  border: none;
  border-color: var(--stroke-color-blockquote, var(--stroke-color-default, currentcolor));
  border-inline-start: solid var(--stroke-width-4);
  padding-inline-start: calc(var(--spacing-inline) - var(--stroke-width-4));
}
