.auto-prose-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--prose-min)), 1fr)
  );

  & > * {
    min-inline-size: min(100%, var(--prose-min));
    max-inline-size: var(--prose-max);
  }

  section {
    margin: 0;
  }
}
