.auto-measure-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--measure-min)), 1fr)
  );

  & > * {
    min-inline-size: min(100%, var(--measure-min));
    max-inline-size: var(--measure-max);
  }

  section {
    margin: 0;
  }
}
